---
layout: default
title: Sun & Ren PLLC
---
{% include navigation2.html %}
<div class="breadcrumbs-wrap style-2">
  <div class="container">
    <h1 class="page-title">TN Visa</h1>
  </div>
</div>
<div id="content" class="page-content-wrap2">
  <div class="container">
    <div class="row">
      <main id="main" class="col-md-8 col-sm-12">
        <div class="content-element2">
          <div class="content-element3">
          </div>
          <div class="contentWrapper">
              <h5 class="sub-title">TN Visa – for Canadian & Mexican NAFTA (“North America Free Trade Agreement”) Professional Workers </h5>
              <p>The TN visa is a special category of non-immigrant visas created for qualifying professionals who are nationals of Canada or Mexico. Generally, a Bachelor’s degree or higher is required to be considered a professional in the TN category. A TN visa has no quota limitation and there is no need to go through a complex labor condition procedure. The initial time limit for a TN professional to work in the United States is up to 3 years, with possible extensions of stay. Mexican nationals are required to have TN visas before they may be admitted to the United States with this status, whereas Canadian nationals need only apply with the USCIS at the border to bypass the visa requirement. </p>
          </div>
        </div>
      </main>
      {% include sidebarImmigration.html %}
    </div>
  </div>
</div>
{% include footer.html %}
