---
layout: default
title: Sun & Ren PLLC
---
{% include navigation2.html %}
<div class="breadcrumbs-wrap style-2">
  <div class="container">
    <h1 class="page-title">EB-2/EB-3 Based on PERM Labor Certification</h1>
  </div>
</div>
<div id="content" class="page-content-wrap2">
  <div class="container">
    <div class="row">
      <main id="main" class="col-md-8 col-sm-12">
        <div class="content-element2">
          <div class="content-element3">
          </div>
          <div class="contentWrapper">
              <p>U.S. employer may seek to employ qualified individuals who seek to immigrate to the United States based on job skills. Such employer may extend a job offer to a qualifying candidate and obtain an approved labor certification from the U.S. Department of Labor (DOL).</p>
              <h5 class="sub-title">EB-2:</h5>
              <p>A foreign worker may be eligible for an employment-based, second preference visa category if he/she is a member of the professions holding an advanced degree or its equivalent, or a foreign national who has exceptional ability</p>
              <h5 class="sub-title">EB-3:</h5>
              <p>A foreign worker may be eligible for this immigrant visa preference category if he/she a skilled worker, professional, or other worker.</p>
              <p>Skilled workers are persons whose job requires a minimum of 2 years training or work experience, not of a temporary or seasonal nature</p>
              <p>Professionals are persons whose job requires at least a U.S. baccalaureate degree or a foreign equivalent and are a member of the professions</p>
              <p>The other workers subcategory is for persons performing unskilled labor requiring less than 2 years training or experience, not of a temporary or seasonal nature.</p>
              <h5 class="sub-title">What is PERM Labor Certificate?</h5>
              <p>Program Electronic Review Management (“PERM”) is the system used for obtaining labor certification and is the first step for certain foreign nationals in obtaining an employment-based immigrant visa (the “green card”). The employment-based preference categories that require PERM labor certification are (1) EB-2 (other than a National Interest Waiver) and (2) EB-3.</p>
              <p>The PERM process requires the petitioning employer to conduct a series of recruitment activities to test the labor market before filing the application. If sufficiently abled, qualified and willing applicants (i.e. U.S. citizens or Permanent Residents) do not find a position through the recruitment process, the employer can submit a PERM labor certification application. After the labor certification is approved by the U.S. Department of Labor (“DOL”), the employer should timely file the EB-2 or EB-3 I-140 visa petition for the alien worker.</p>
              <p>Overall, PERM labor certification is an extremely complicated and time-sensitive procedure. We recommend that you consult with an experienced immigration attorney. Our lawyers have successfully handled hundreds of PERM cases.</p>
          </div>
        </div>
      </main>
      {% include sidebarImmigration.html %}
    </div>
  </div>
</div>
{% include footer.html %}
