---
layout: default
title: SunRenLaw
---

{% include navigation2.html %}

<div class="breadcrumbs-wrap">

  <div class="container">

    <h1 class="page-title">关于我们</h1>

    <ul class="breadcrumbs">

      <li><a href={{"/" | absolute_url}}>首页</a></li>
      <li>关于我们</li>

    </ul>

  </div>

</div>

<div id="content">

  <!-- Page section -->
<!--  <div class="page-section half-bg-col">-->

<!--    <div class="img-col-left"><div class="col-bg" data-bg={{"/images/960x644_img2.jpg" | absolute_url}}></div></div>-->

<!--    <div class="container">-->
<!--      <div class="row">-->
<!--        <div class="col-md-6"></div>-->
<!--        <div class="col-md-6">-->

<!--          <h2 class="section-title">关于团队<span class="item-divider-3 style-3"></span></h2>-->

<!--          <p>Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit.  </p>-->
<!--          <p>Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus. Vestibulum libero nisl, porta vel, scelerisque eget, malesuada at, neque. Vivamus eget nibh. Etiam cursus leo vel metus. Nulla facilisi. Aenean nec eros. </p>-->

<!--          <a href={{"/attorneys.html" | absolute_url}} class="btn">Meet Our Team</a>-->

<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

<!--  </div>-->

  <!--&lt;!&ndash; Page section &ndash;&gt;-->
  <!--<div class="page-section-bg2 half-bg-col">-->

    <!--<div class="img-col-right"><div class="col-bg" data-bg="images/960x840_img1.jpg"></div></div>-->

    <!--<div class="container">-->
      <!--<div class="row">-->
        <!--<div class="col-md-6">-->

          <!--<h2 class="section-title">Our Principles<span class="item-divider-3 style-3"></span></h2>-->

          <!--<div class="icons-box style-2">-->

            <!--<div class="row flex-row">-->

              <!--<div class="col-sm-12">-->

                <!--&lt;!&ndash; - - - - - - - - - - - - - Icon Box Item - - - - - - - - - - - - - - - - &ndash;&gt;-->
                <!--<div class="icons-wrap">-->

                  <!--<div class="icons-item">-->
                    <!--<div class="item-box">-->
                      <!--<i class="licon-balance"></i>-->
                      <!--<h5 class="icons-box-title"><a href="#">Experienced</a></h5>-->
                      <!--<p>Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, elementum vel, cursus eleifend, elit. </p>-->
                    <!--</div>-->
                  <!--</div>-->

                <!--</div>-->

              <!--</div>-->
              <!--<div class="col-sm-12">-->

                <!--&lt;!&ndash; - - - - - - - - - - - - - Icon Box Item - - - - - - - - - - - - - - - - &ndash;&gt;-->
                <!--<div class="icons-wrap">-->

                  <!--<div class="icons-item">-->
                    <!--<div class="item-box">-->
                      <!--<i class="licon-man"></i>-->
                      <!--<h5 class="icons-box-title"><a href="#">FOCUSED ON YOU</a></h5>-->
                      <!--<p>Aenean auctor wisi et urna. Aliquam erat volutpat. Integer rutrum ante eu lacus. Vestibulum libero nisl, porta vel.</p>-->
                    <!--</div>-->
                  <!--</div>-->

                <!--</div>-->

              <!--</div>-->
              <!--<div class="col-sm-12">-->

                <!--&lt;!&ndash; - - - - - - - - - - - - - Icon Box Item - - - - - - - - - - - - - - - - &ndash;&gt;-->
                <!--<div class="icons-wrap">-->

                  <!--<div class="icons-item">-->
                    <!--<div class="item-box">-->
                      <!--<i class="licon-briefcase"></i>-->
                      <!--<h5 class="icons-box-title"><a href="#">REPUTATION</a></h5>-->
                      <!--<p>Vivamus eget nibh. Etiam cursus leo vel metus. Nulla facilisi. Vestibulum ante ipsum primis in faucibus.</p>-->
                    <!--</div>-->
                  <!--</div>-->

                <!--</div>-->

              <!--</div>-->

            <!--</div>-->

          <!--</div>-->

        <!--</div>-->
        <!--<div class="col-md-6"></div>-->
      <!--</div>-->
    <!--</div>-->

  <!--</div>-->

  <!--&lt;!&ndash; Page section &ndash;&gt;-->
  <!--<div class="page-section type-2">-->

    <!--<div class="container">-->

      <!--<div class="row counter-wrap">-->

        <!--<div class="col-lg-3 col-md-3 col-xs-6">-->

          <!--<div class="counter">-->
            <!--<div class="count-item">-->
              <!--<span class="licon-hammer2"></span>-->
              <!--<h3 class="timer count-number" data-to="50" data-speed="1500">0</h3>-->
            <!--</div>-->
            <!--<p>Years of Experience</p>-->
          <!--</div>-->

        <!--</div>-->
        <!--<div class="col-lg-3 col-md-3 col-xs-6">-->

          <!--<div class="counter">-->
            <!--<div class="count-item">-->
              <!--<span class="licon-happy"></span>-->
              <!--<h3 class="timer count-number" data-to="389" data-speed="1500">0</h3>-->
            <!--</div>-->
            <!--<p>Satisfied Clients</p>-->
          <!--</div>-->

        <!--</div>-->
        <!--<div class="col-lg-3 col-md-3 col-xs-6">-->

          <!--<div class="counter">-->
            <!--<div class="count-item">-->
              <!--<span class="licon-group-work"></span>-->
              <!--<h3 class="timer count-number" data-to="15" data-speed="1500">0</h3>-->
            <!--</div>-->
            <!--<p>Attorneys in Our Team</p>-->
          <!--</div>-->

        <!--</div>-->
        <!--<div class="col-lg-3 col-md-3 col-xs-6">-->

          <!--<div class="counter">-->
            <!--<div class="count-item">-->
              <!--<span class="licon-trophy2"></span>-->
              <!--<h3 class="timer count-number" data-to="227" data-speed="1500">0</h3>-->
            <!--</div>-->
            <!--<p>Successful Case Results</p>-->
          <!--</div>-->

        <!--</div>-->

      <!--</div>-->

    <!--</div>-->

  <!--</div>-->

  <!--&lt;!&ndash; Page section &ndash;&gt;-->
  <!--<div class="page-section half-bg-col two-cols">-->

    <!--<div class="img-col-left"><div class="col-bg" data-bg="images/960x616_bg1.jpg"></div></div>-->

    <!--<div class="img-col-right"><div class="col-bg" data-bg="images/960x560_bg3.jpg"></div></div>-->

    <!--<div class="container extra">-->
      <!--<div class="row">-->
        <!--<div class="col-md-6 col-sm-12">-->

          <!--<h2 class="section-title">Areas Served<span class="item-divider-3 style-3"></span></h2>-->

          <!--<p class="section-text">Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Donec sit <br> amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris <br> fermentum dictum magna. Sed laoreet aliquam leo.  </p>-->

          <!--<div class="row">-->
            <!--<div class="col-sm-6">-->

              <!--<ul class="custom-list type-1">-->

                <!--<li><a href="#">Hudson County</a></li>-->
                <!--<li><a href="#">Hoboken</a></li>-->
                <!--<li><a href="#">Union City</a></li>-->

              <!--</ul>-->

            <!--</div>-->
            <!--<div class="col-sm-6">-->

              <!--<ul class="custom-list type-1">-->

                <!--<li><a href="#">Bayonne</a></li>-->
                <!--<li><a href="#">North Bergen</a></li>-->
                <!--<li><a href="#">West New York</a></li>-->

              <!--</ul>-->

            <!--</div>-->
          <!--</div>-->

        <!--</div>-->
        <!--<div class="page-section-bg2 green col-md-6 col-sm-12">-->

          <!--<h2 class="section-title">Practice Areas<span class="item-divider-3"></span></h2>-->

          <!--<p class="section-text">Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Donec sit <br> amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris <br> fermentum dictum magna. Sed laoreet aliquam leo.  </p>-->

          <!--<div class="row">-->
            <!--<div class="col-sm-6">-->

              <!--<ul class="custom-list type-4">-->

                <!--<li><a href="#">Personal Injury</a></li>-->
                <!--<li><a href="#">Industrial Injury</a></li>-->
                <!--<li><a href="#">Insurance Claims</a></li>-->

              <!--</ul>-->

            <!--</div>-->
            <!--<div class="col-sm-6">-->

              <!--<ul class="custom-list type-4">-->

                <!--<li><a href="#">Business & Real Estate</a></li>-->
                <!--<li><a href="#">Automobile Accidents</a></li>-->
                <!--<li><a href="#">Estate Planning</a></li>-->

              <!--</ul>-->

            <!--</div>-->
          <!--</div>-->

        <!--</div>-->
      <!--</div>-->
    <!--</div>-->

  <!--</div>-->

  <!--&lt;!&ndash; Page section &ndash;&gt;-->
  <!--<div class="page-section-bg2 parallax-section" data-bg="images/1920x1000_bg3.jpg">-->

    <!--<div class="container">-->

      <!--<div class="row">-->
        <!--<div class="col-sm-4">-->

          <!--<h2 class="section-title">Do You Have <br> a Case?<span class="item-divider-3 style-3"></span></h2>-->

          <!--<p>Get your free case review within 24 hours. <br> All Fields Required.</p>-->

        <!--</div>-->
        <!--<div class="col-sm-8">-->

          <!--<form id="contact-form" class="contact-form">-->

            <!--<div class="flex-row">-->

              <!--<div class="col-sm-4">-->

                <!--<input type="text" name="cf-name" placeholder="Name *" required>-->

              <!--</div>-->
              <!--<div class="col-sm-4">-->

                <!--<input type="tel" name="cf-phone" placeholder="Phone *" required>-->

              <!--</div>-->
              <!--<div class="col-sm-4">-->

                <!--<input type="email" name="cf-email" placeholder="Email *" required>-->

              <!--</div>-->
              <!--<div class="col-sm-12">-->

                <!--<textarea rows="3" name="cf-message" placeholder="Message *" required></textarea>-->

              <!--</div>-->

              <!--<div class="col-sm-12">-->

                <!--<button type="submit" class="btn btn-style-2" data-type="submit">Submit</button>-->

              <!--</div>-->

            <!--</div>-->

          <!--</form>-->

        <!--</div>-->
      <!--</div>-->

    <!--</div>-->

  <!--</div>-->

  <!--&lt;!&ndash; Page section &ndash;&gt;-->
  <!--<div class="page-section type-2">-->

    <!--<div class="carousel-type-2">-->

      <!--<div class="owl-carousel brand-box" data-item-margin="0" data-max-items="5" >-->

        <!--&lt;!&ndash; owl item &ndash;&gt;-->
        <!--<div class="brand-item">-->

          <!--<a href="#"><img src="images/brand1.jpg" alt=""></a>-->

        <!--</div>-->

        <!--&lt;!&ndash; owl item &ndash;&gt;-->
        <!--<div class="brand-item">-->

          <!--<a href="#"><img src="images/brand2.jpg" alt=""></a>-->

        <!--</div>-->

        <!--&lt;!&ndash; owl item &ndash;&gt;-->
        <!--<div class="brand-item">-->

          <!--<a href="#"><img src="images/brand3.jpg" alt=""></a>-->

        <!--</div>-->

        <!--&lt;!&ndash; owl item &ndash;&gt;-->
        <!--<div class="brand-item">-->

          <!--<a href="#"><img src="images/brand4.jpg" alt=""></a>-->

        <!--</div>-->

        <!--&lt;!&ndash; owl item &ndash;&gt;-->
        <!--<div class="brand-item">-->

          <!--<a href="#"><img src="images/brand5.jpg" alt=""></a>-->

        <!--</div>-->

      <!--</div>-->

    <!--</div>-->

  <!--</div>-->

</div>

{% include footer.html %}