---
layout: default
title: Sun & Ren PLLC
---

{% include navigation2.html %}

<div class="breadcrumbs-wrap style-3 align-center" data-bg="images/1920x225_bg1.jpg">

  <div class="container">

    <h1 class="page-title">专业团队</h1>

    <ul class="breadcrumbs">

      <li><a href={{"/" | absolute_url}}>首页</a></li>
      <li>专业团队</li>

    </ul>

  </div>

</div>
<div id="content">


    <div class="row">

      <div class="page-section">
        <div class="container">
          <div class="content-element2">

            <div class="content-element5">

              <div class="row">
                <div class="col-xs-5">

                  <img src="images/458x504_photo1.jpg" alt="">

                </div>
                <div class="col-xs-7">

                  <div class="content-element3">
                    <div class="our-info style-2">

                      <p>孙文杰律师是Sun & Ren PLLC的成立合伙人之一。孙文杰律师的职业领域主要集中在商业移民方面。由于成功代理众多艺术家和音乐家取得O-1签证和EB-1A 杰出人才移民申请, 她备受艺术家群体的推崇。孙律师在职业移民领域也有这丰富的经验，她处理过数百个H-1B， L-1以及PERM的申请。她会针对个别案例指定策略，这帮助她赢得了许多极富单独的签证申请。在EB-5领域，孙律师和和证券律师合作共同进行区域中心的申请。她代理的投资人来自于中国大陆，香港，以及越南，帮助他们获得I-526和I-829的批准。 </p>
                      <p>孙律师在2016至2018年度，连续三年年被《Super Lawyers》杂志赋予“rising star”纽约顶级移民律师的称号。</p>
                      <p>Ms. Wenjie Sun is the co-founder and partner of [Sun & Ren, PLLC], focusing primarily on business immigration. She is widely recognized in the artist community for her superior track record in successfully representing artists and musicians with their O-1 visa and EB-1A (Alien of Extraordinary Ability) immigration petitions.</p>
                      <p>Ms. Sun also has extensive experience in employment-based immigration matters. She has successfully handled hundreds of H-1B, L-1 and PERM applications by developing individually tailored strategies on a case-by-case basis, helping her clients win a number of challenging cases.</p>
                      <p>Related to EB-5, Ms. Sun has conducted due diligence on Regional Centers and worked with security attorneys on various offering documentation, including I-526 and I-829 filings for investors from Mainland China, Hong Kong, Taiwan and Vietnam.</p>
                      <p>For three consecutive years (2016 – 2018), Ms. Sun was named a Rising Star in the New York metropolitan area by Super Lawyers Magazine.</p>
                    </div>

                  </div>

                </div>
              </div>

            </div>

            <div class="content-element5">

              <h5 class="sub-title">Education</h5>
              <ul class="minus-list">

                <li>College of William and Mary, LLM, 2012</li>
                <li>East China University of Political Science and Law, LLB, 2011</li>

              </ul>

            </div>

            <div class="content-element5">

              <div class="row">
                <div class="col-sm-5">

                  <h5 class="sub-title">Bar Admission</h5>
                  <ul class="minus-list">

                    <li>New York Bar</li>

                  </ul>

                </div>
              </div>

            </div>

            <div class="content-element5">

              <h5 class="sub-title">Awards & Honors</h5>
              <ul class="minus-list">

                <li>New York Metro Rising Stars 2016 - 2018</li>

              </ul>

            </div>

          </div>

        </div>
      </div>



    </div>

  </div>

</div>

<script src="js/libs/jquery.modernizr.js"></script>
<script src="js/libs/jquery-2.2.4.min.js"></script>
<script src="js/libs/jquery-ui.min.js"></script>
<script src="js/libs/retina.min.js"></script>
<script src="plugins/isotope.pkgd.min.js"></script>
<script src="plugins/jquery.queryloader2.min.js"></script>
<script src="js/plugins.js"></script>
<script src="js/script.js"></script>

{% include footer.html %}