---
layout: default
title: Sun & Ren PLLC
---

{% include navigation2.html %}


<div class="breadcrumbs-wrap">

  <div class="container">

    <h1 class="page-title">联系我们</h1>

    <ul class="breadcrumbs">

      <li><a href={{"/" | absolute_url}}>主页</a></li>
      <li>联系我们</li>

    </ul>

  </div>

</div>


<div id="content" class="page-content-wrap2">

  <div class="container">

    <div class="row">
      <div class="col-md-6 col-sm-12">

        <h2 class="section-title">Contact Details<span class="item-divider-3 style-3"></span></h2>

        <!-- Google map -->
        <div class="map-section content-element3">

          <div id="googleMap" class="map-container"></div>

        </div>

        <div class="content-element5">
          <div class="our-info">

            <p><i class="licon-map-marker"></i>14 Penn Plaza, Suite 1517, New York, NY 10122.</p>
            <p content="telephone=no"><i class="licon-telephone"></i>+1 631-888-3636</p>
<!--            <p content="telephone=no"><i class="licon-printer"></i>+1 800 889 9898</p>-->
            <p><i class="licon-clock3"></i> Mon-Fri 9:30- 18：30 </p>

          </div>

          <a href="https://www.google.com/maps/dir//2032+S+Elliott+Ave,+Aurora,+MO+65605/@36.9487043,-93.7878472,12z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x87cf4b1a194c90e1:0xba30bfe0c0a857c!2m2!1d-93.7178072!2d36.9487249" class="info-btn">Get Directions</a>
        </div>

        <ul class="social-icons style-4">

          <li><a href="#"><i class="icon-facebook"></i></a></li>
          <li><a href="#"><i class="icon-twitter"></i></a></li>
          <li><a href="#"><i class="icon-gplus-3"></i></a></li>
          <li><a href="#"><i class="icon-linkedin-3"></i></a></li>

        </ul>

      </div>
      <div class="col-md-6 col-sm-12">

        <h2 class="section-title">How Can We Help You?<span class="item-divider-3 style-3"></span></h2>

        <p>Get your free case review within 24 hours. All Fields Required.</p>

        <form id="contact-form" class="contact-form style-3">

          <div class="flex-row">

            <div class="col-sm-12">

              <input type="text" name="cf-name" placeholder="Name *" required>

            </div>
            <div class="col-sm-12">

              <input type="tel" name="cf-phone" placeholder="Phone *" required>

            </div>
            <div class="col-sm-12">

              <input type="email" name="cf-email" placeholder="Email *" required>

            </div>
            <div class="col-sm-12">

              <textarea rows="11" name="cf-message" placeholder="Message *" required></textarea>

            </div>

            <div class="col-sm-12">

              <button type="submit" class="btn btn-style-2" data-type="submit">Submit</button>

            </div>

          </div>

        </form>

      </div>
    </div>

  </div>

</div>

{% include footer.html %}