---
layout: default
title: Sun & Ren PLLC
---

<div id="wrapper" class="wrapper-container">

  <!-- Chat button -->

  <!--<a href="#" class="chat-btn"><i class="licon-bubbles"></i>Live Chat</a>-->

  <!-- - - - - - - - - - - - - Mobile Menu - - - - - - - - - - - - - - -->

  <nav id="mobile-advanced" class="mobile-advanced"></nav>

  <!-- - - - - - - - - - - - - - Header - - - - - - - - - - - - - - - - -->

  {% include navigation.html %}

  <!-- - - - - - - - - - - - - end Header - - - - - - - - - - - - - - - -->

  <!-- - - - - - - - - - - - - - Revolution Slider - - - - - - - - - - - - - - - - -->

  <div class="rev-slider-wrapper full-scr">

    <div id="rev-slider" class="rev-slider tp-simpleresponsive"  data-version="5.0">

      <ul>

        <!--<li data-transition="fade">-->

        <!--<img src="images/1773x1148_bg1.jpg" class="rev-slidebg" alt="">     -->

        <!-- - - - - - - - - - - - - - Layer 1 - - - - - - - - - - - - - - - - -->

        <!--<div class="tp-caption tp-resizeme scaption-dark-large"-->
        <!--data-x="['left','left','left','left']" data-hoffset="10"-->
        <!--data-y="['middle','middle','middle','middle']" data-voffset="0"-->
        <!--data-whitespace="nowrap"-->
        <!--data-frames='[{"delay":150,"speed":2000,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":1000,"frame":"999","to":"y:[175%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'-->
        <!--data-responsive_offset="on" -->
        <!--data-elementdelay="0.05" >Billions of Dollars <br> Won For Our Clients-->
        <!--</div>-->

        <!-- - - - - - - - - - - - - - End of Layer 1 - - - - - - - - - - - - - - - - -->

        <!-- - - - - - - - - - - - - - Layer 2 - - - - - - - - - - - - - - - - -->

        <!--<div class="tp-caption tp-resizeme"-->
        <!--data-x="['left','left','left','left']" data-hoffset="10"-->
        <!--data-y="['middle','middle','middle','middle']" data-voffset="130"-->
        <!--data-whitespace="nowrap"-->
        <!--data-frames='[{"delay":450,"speed":2000,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":1000,"frame":"999","to":"y:[175%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'-->
        <!--data-responsive_offset="on" -->
        <!--data-elementdelay="0.05" ><a href="#" class="btn btn-big btn-style-5 shadow">Request Free Consultation</a>-->
        <!--</div>-->

        <!-- - - - - - - - - - - - - - End of Layer 2 - - - - - - - - - - - - - - - - -->

<!--        </li>-->

        <li data-transition="fade">
          <img src="images/1773x1148_bg2.jpg" class="rev-slidebg" alt="">
          <div class="tp-caption tp-resizeme scaption-white-medium"
               data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
               data-y="['middle','middle','middle','middle']" data-voffset="-80"
               data-whitespace="nowrap"
               data-frames='[{"delay":150,"speed":2000,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":1000,"frame":"999","to":"y:[175%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
               data-responsive_offset="on"
               data-elementdelay="0.05" >Trust · Commitment · Integrity
          </div>
          <div class="tp-caption tp-resizeme scaption-white-large2"
               data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
               data-y="['middle','middle','middle','middle']" data-voffset="-5"
               data-whitespace="nowrap"
               data-frames='[{"delay":450,"speed":2000,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":1000,"frame":"999","to":"y:[175%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
               data-responsive_offset="on"
               data-elementdelay="0.05" >Use our expertise to solve your Case
          </div>
<!--          <div class="tp-caption tp-resizeme"-->
<!--               data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"-->
<!--               data-y="['middle','middle','middle','middle']" data-voffset="100"-->
<!--               data-whitespace="nowrap"-->
<!--               data-frames='[{"delay":450,"speed":2000,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":1000,"frame":"999","to":"y:[175%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'-->
<!--               data-responsive_offset="on"-->
<!--               data-elementdelay="0.05" ><a href="#" class="btn btn-big btn-style-5 shadow2">寻求帮助</a>-->
<!--          </div>-->
        </li>
        <li data-transition="fade">
          <img src="images/1773x1148_bg2.jpg" class="rev-slidebg" alt="">
          <div class="tp-caption tp-resizeme scaption-white-medium"
               data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
               data-y="['middle','middle','middle','middle']" data-voffset="-80"
               data-frames='[{"delay":150,"speed":2000,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":1000,"frame":"999","to":"y:[175%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
               data-responsive_offset="on"
               data-whitespace="normal"
               data-elementdelay="0.05" >
            <div class="container">
              <div class="headerDescription">Sun & Ren, PLLC is a Manhattan-based Law firm dedicated to providing
                outstanding legal services to both companies and individuals. We strive to provide the highest quality
                legal services to our client in order to obtain the most favorable outcomes. We create a mutually
                beneficial and trustworthy relationship starting with the very first consultation by always protecting
                the rights and interests of those we serve.  
              </div>
            </div>
          </div>
<!--          <div class="tp-caption tp-resizeme"-->
<!--               data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"-->
<!--               data-y="['middle','middle','middle','middle']" data-voffset="100"-->
<!--               data-whitespace="normal"-->
<!--               data-frames='[{"delay":450,"speed":2000,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":1000,"frame":"999","to":"y:[175%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'-->
<!--               data-responsive_offset="on"-->
<!--               data-elementdelay="0.05" ><a href="#" class="btn btn-big btn-style-5 shadow2">Sun & Ren, PLLC is a Manhattan-based Law firm dedicated to providing outstanding legal services to both companies and individuals. We strive to provide the highest quality legal services to our client in order to obtain the most favorable outcomes. We create a mutually beneficial and trustworthy relationship starting with the very first consultation by always protecting the rights and interests of those we serve.  </a>-->
<!--          </div>-->
        </li>

        <!--<li data-transition="fade">-->

        <!--<img src="images/1773x1148_bg3.jpg" class="rev-slidebg" alt="">     -->

        <!--&lt;!&ndash; - - - - - - - - - - - - - Layer 1 - - - - - - - - - - - - - - - - &ndash;&gt;      -->

        <!--<div class="tp-caption tp-resizeme scaption-dark2-large"-->
        <!--data-x="['left','left','left','left']" data-hoffset="600"-->
        <!--data-y="['middle','middle','middle','middle']" data-voffset="-40"-->
        <!--data-whitespace="nowrap"-->
        <!--data-frames='[{"delay":150,"speed":2000,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":1000,"frame":"999","to":"y:[175%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'-->
        <!--data-responsive_offset="on" -->
        <!--data-elementdelay="0.05" >When Experience <br> Matters Most!-->
        <!--</div>-->

        <!--&lt;!&ndash; - - - - - - - - - - - - - End of Layer 1 - - - - - - - - - - - - - - - - &ndash;&gt;  -->

        <!--&lt;!&ndash; - - - - - - - - - - - - - Layer 2 - - - - - - - - - - - - - - - - &ndash;&gt;      -->

        <!--<div class="tp-caption tp-resizeme scaption-dark2-small"-->
        <!--data-x="['left','left','left','left']" data-hoffset="600"-->
        <!--data-y="['middle','middle','middle','middle']" data-voffset="60"-->
        <!--data-whitespace="nowrap"-->
        <!--data-frames='[{"delay":450,"speed":2000,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":1000,"frame":"999","to":"y:[175%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'-->
        <!--data-responsive_offset="on" -->
        <!--data-elementdelay="0.05" ><p>Sed in lacus ut enim adipiscing aliquet. Nulla venenatis. In pede mi, <br> aliquet sit amet, euismod in,auctor ut, ligula. </p>-->
        <!--</div>-->

        <!--&lt;!&ndash; - - - - - - - - - - - - - End of Layer 2 - - - - - - - - - - - - - - - - &ndash;&gt;-->

        <!--&lt;!&ndash; - - - - - - - - - - - - - Layer 2 - - - - - - - - - - - - - - - - &ndash;&gt;      -->

        <!--<div class="tp-caption tp-resizeme"-->
        <!--data-x="['left','left','left','left']" data-hoffset="600"-->
        <!--data-y="['middle','middle','middle','middle']" data-voffset="160"-->
        <!--data-whitespace="nowrap"-->
        <!--data-frames='[{"delay":750,"speed":2000,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":1000,"frame":"999","to":"y:[175%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'-->
        <!--data-responsive_offset="on" -->
        <!--data-elementdelay="0.05" ><a href="#" class="btn btn-big btn-style-5 shadow3">Contact Us Today!</a>-->
        <!--</div>-->

        <!--&lt;!&ndash; - - - - - - - - - - - - - End of Layer 2 - - - - - - - - - - - - - - - - &ndash;&gt;-->

        <!--</li>-->

      </ul>

    </div>

    <!--<div class="side-bar flex-row">-->
    <!---->
    <!--<p class="v-text"><b>Experienced. Focused on You. Reputation.</b></p>-->

    <!--<ul class="social-icons v-type style-2">-->

    <!--<li><a href="#"><i class="icon-facebook"></i></a></li>-->
    <!--<li><a href="#"><i class="icon-twitter"></i></a></li>-->
    <!--<li><a href="#"><i class="icon-gplus-3"></i></a></li>-->
    <!--<li><a href="#"><i class="icon-linkedin-3"></i></a></li>-->

    <!--</ul>-->

    <!--<span class="v-text"><i class="licon-arrow-left bounce"></i>scroll down</span>-->

    <!--</div>-->

  </div>

  <!-- - - - - - - - - - - - - - End of Slider - - - - - - - - - - - - - - - - -->

  <!-- - - - - - - - - - - - - - Content - - - - - - - - - - - - - - - - -->
<!--  <div id="content">-->
<!--    &lt;!&ndash; Page section &ndash;&gt;-->
<!--    <div class="page-section">-->
<!--      <div class="container extra">-->
<!--        <div class="row">-->
<!--          <div class="col-md-6 col-sm-12">-->
<!--&lt;!&ndash;            <h2 class="section-title">真正 <br> 值得信赖的律师团队<span class="item-divider-3 style-3"></span></h2>&ndash;&gt;-->
<!--            &lt;!&ndash;<h5 class="sub-title"><b>Experience You Need. Results You Want.</b></h5>&ndash;&gt;-->
<!--&lt;!&ndash;            <p>Sun & Ren, PLLC is a Manhattan-based Law firm dedicated to providing outstanding legal services to both&ndash;&gt;-->
<!--&lt;!&ndash;              companies and individuals. We strive to provide the highest quality legal services to our client in order&ndash;&gt;-->
<!--&lt;!&ndash;              to obtain the most favorable outcomes. We create a mutually beneficial and trustworthy relationship&ndash;&gt;-->
<!--&lt;!&ndash;              starting with the very first consultation by always protecting the rights and interests of those we&ndash;&gt;-->
<!--&lt;!&ndash;              serve.  &ndash;&gt;-->
<!--&lt;!&ndash;            </p>&ndash;&gt;-->
<!--&lt;!&ndash;            <a href="#" class="btn">更多内容</a>&ndash;&gt;-->
<!--          </div>-->
<!--          <div class="col-md-6 col-sm-12">-->
<!--            <div class="team-holder">-->
<!--              <div class="team-item">-->
<!--                <div class="team-member">-->
<!--                  <a href="#" class="member-photo">-->
<!--                    <img src="images/608x420_img1.jpg" alt="">-->
<!--                  </a>-->
<!--                  &lt;!&ndash;<div class="team-desc overlay style-2">&ndash;&gt;-->
<!--                  &lt;!&ndash;<div class="member-info">&ndash;&gt;-->
<!--                  &lt;!&ndash;<div class="flex-row flex-justify flex-center">&ndash;&gt;-->
<!--                  &lt;!&ndash;<p class="text-size-medium">Benefits of <br> Working With Us</p>&ndash;&gt;-->
<!--                  &lt;!&ndash;<a href="https://www.youtube.com/embed/uq9XZ3GWpe8?rel=0&amp;showinfo=0&amp;autohide=2&amp;controls=0&amp;playlist=J2Y_ld0KL-4&amp;enablejsapi=1" class="play" data-fancybox="video">watch video <i class="licon-play"></i></a>&ndash;&gt;-->
<!--                  &lt;!&ndash;</div>&ndash;&gt;-->
<!--                  &lt;!&ndash;</div>&ndash;&gt;-->
<!--                  &lt;!&ndash;</div>&ndash;&gt;-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->


<!--    <div class="breadcrumbs-wrap style-2">-->
<!--      <div class="container">-->
<!--        <h1 class="page-title">业务领域</h1>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div id="contentPracticeArea" class="page-content-wrap2">-->
<!--      <div class="container">-->
<!--        <div class="icons-box style-1 type-3">-->
<!--          <div class="flex-row fx-col-3">-->
<!--            <div class="icons-wrap">-->
<!--              <div class="icons-item">-->
<!--                <div class="item-box">-->
<!--                  <i class="licon-bandages"></i>-->
<!--                  <h5 class="icons-box-title"><a href="#">Immigration</a></h5>-->
<!--                  <ul class="custom-list">-->
<!--                    <li><a href="#">H-1B 特殊专业人员/临时工作签证</a></li>-->
<!--                    <li><a href="#">L-1 跨国公司高级主管和经理人签证</a></li>-->
<!--                    <li><a href="#">O-1 杰出学者工作签证</a></li>-->
<!--                    <li><a href="#">“PERM” 劳工证</a></li>-->
<!--                    <li><a href="#">EB5 投资移民</a></li>-->
<!--                  </ul>-->
<!--                  <a href={{"/Immigration/" | absolute_url}} class="btn">详细内容</a>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="icons-wrap">-->
<!--              <div class="icons-item">-->
<!--                <div class="item-box">-->
<!--                  <i class="licon-factory2"></i>-->
<!--                  <h5 class="icons-box-title"><a href="#">房地产</a></h5>-->
<!--                  <ul class="custom-list">-->
<!--                    <li><a href="#">商业租约审核</a></li>-->
<!--                    <li><a href="#">协助客户过户</a></li>-->
<!--                  </ul>-->
<!--                  <a href={{"/NonImmigration/1/" | absolute_url}} class="btn">详细内容</a>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="icons-wrap">-->
<!--              <div class="icons-item">-->
<!--                <div class="item-box">-->
<!--                  <i class="licon-shield"></i>-->
<!--                  <h5 class="icons-box-title"><a href="#">商业服务</a></h5>-->
<!--                  <ul class="custom-list">-->
<!--                    <li><a href="#">注册公司</a></li>-->
<!--                    <li><a href="#">起草公司成立文件</a></li>-->
<!--                    <li><a href="#">股东协议</a></li>-->
<!--                  </ul>-->
<!--                  <a href={{"/practice3.html" | absolute_url}} class="btn">详细内容</a>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            &lt;!&ndash;<div class="icons-wrap">&ndash;&gt;-->
<!--              &lt;!&ndash;<div class="icons-item">&ndash;&gt;-->
<!--                &lt;!&ndash;<div class="item-box">&ndash;&gt;-->
<!--                  &lt;!&ndash;<i class="licon-gun"></i>&ndash;&gt;-->
<!--                  &lt;!&ndash;<h5 class="icons-box-title"><a href="#">第三个你们还没跟我说</a></h5>&ndash;&gt;-->
<!--                  &lt;!&ndash;<ul class="custom-list">&ndash;&gt;-->
<!--                    &lt;!&ndash;<li><a href="#">Criminal Assault</a></li>&ndash;&gt;-->
<!--                    &lt;!&ndash;<li><a href="#">Disorderly Conduct</a></li>&ndash;&gt;-->
<!--                    &lt;!&ndash;<li><a href="#">Domestic Violence</a></li>&ndash;&gt;-->
<!--                    &lt;!&ndash;<li><a href="#">Drug Crimes</a></li>&ndash;&gt;-->
<!--                    &lt;!&ndash;<li><a href="#">Sex Crimes</a></li>&ndash;&gt;-->
<!--                  &lt;!&ndash;</ul>&ndash;&gt;-->
<!--                  &lt;!&ndash;<a href="#" class="btn">详细内容</a>&ndash;&gt;-->
<!--                &lt;!&ndash;</div>&ndash;&gt;-->
<!--              &lt;!&ndash;</div>&ndash;&gt;-->
<!--            &lt;!&ndash;</div>&ndash;&gt;-->
<!--            &lt;!&ndash;&lt;!&ndash; - - - - - - - - - - - - - Icon Box Item - - - - - - - - - - - - - - - - &ndash;&gt;&ndash;&gt;-->
<!--            &lt;!&ndash;<div class="icons-wrap">&ndash;&gt;-->
<!--              &lt;!&ndash;<div class="icons-item">&ndash;&gt;-->
<!--                &lt;!&ndash;<div class="item-box">&ndash;&gt;-->
<!--                  &lt;!&ndash;<i class="licon-city"></i>&ndash;&gt;-->
<!--                  &lt;!&ndash;<h5 class="icons-box-title"><a href="#">第四个你也没跟我说</a></h5>&ndash;&gt;-->
<!--                  &lt;!&ndash;<ul class="custom-list">&ndash;&gt;-->
<!--                    &lt;!&ndash;<li><a href="#">Contract Law</a></li>&ndash;&gt;-->
<!--                    &lt;!&ndash;<li><a href="#">Fraud & Misrepresentation</a></li>&ndash;&gt;-->
<!--                    &lt;!&ndash;<li><a href="#">Mergers & Acquisitions</a></li>&ndash;&gt;-->
<!--                    &lt;!&ndash;<li><a href="#">Overtime Violations</a></li>&ndash;&gt;-->
<!--                    &lt;!&ndash;<li><a href="#">Partnership Disputes</a></li>&ndash;&gt;-->
<!--                  &lt;!&ndash;</ul>&ndash;&gt;-->
<!--                  &lt;!&ndash;<a href="#" class="btn">详细内容</a>&ndash;&gt;-->
<!--                &lt;!&ndash;</div>&ndash;&gt;-->
<!--              &lt;!&ndash;</div>&ndash;&gt;-->

<!--            &lt;!&ndash;</div>&ndash;&gt;-->

<!--            &lt;!&ndash; - - - - - - - - - - - - - Icon Box Item - - - - - - - - - - - - - - - - &ndash;&gt;-->
<!--            &lt;!&ndash;<div class="icons-wrap">&ndash;&gt;-->

<!--              &lt;!&ndash;<div class="icons-item">&ndash;&gt;-->
<!--                &lt;!&ndash;<div class="item-box">&ndash;&gt;-->
<!--                  &lt;!&ndash;<i class="licon-man-woman"></i>&ndash;&gt;-->
<!--                  &lt;!&ndash;<h5 class="icons-box-title"><a href="#">其他服务</a></h5>&ndash;&gt;-->
<!--                  &lt;!&ndash;<ul class="custom-list">&ndash;&gt;-->
<!--                    &lt;!&ndash;<li><a href="#"><br></a></li>&ndash;&gt;-->
<!--                    &lt;!&ndash;<li><a href="#"><br></a></li>&ndash;&gt;-->
<!--                    &lt;!&ndash;<li><a href="#" class="btnStyle">查看全部</a></li>&ndash;&gt;-->
<!--                  &lt;!&ndash;</ul>&ndash;&gt;-->
<!--                  &lt;!&ndash;<a href="#" class="btn">View All</a>&ndash;&gt;-->
<!--                &lt;!&ndash;</div>&ndash;&gt;-->
<!--              &lt;!&ndash;</div>&ndash;&gt;-->

<!--            &lt;!&ndash;</div>&ndash;&gt;-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

    <!-- - - - - - - - - - - - - end Content - - - - - - - - - - - - - - - -->


    <!--&lt;!&ndash; Page section &ndash;&gt;-->
    <!--<div class="page-section-bg no-bts">-->
    <!---->
    <!--<div class="container extra">-->

    <!--<div class="content-element5">-->
    <!---->
    <!--<div class="align-center">-->
    <!---->
    <!--<div class="pre-title">Why Choose Hicks & Hynson</div>-->
    <!--<h2 class="section-title">3 Reasons to Hire Us<span class="item-divider-3 style-3"></span></h2>-->

    <!--</div>-->

    <!--</div>-->
    <!---->
    <!--<div class="icons-box style-1 type-2">-->

    <!--<div class="flex-row fx-col-3">-->
    <!---->
    <!--&lt;!&ndash; - - - - - - - - - - - - - Icon Box Item - - - - - - - - - - - - - - - - &ndash;&gt;        -->
    <!--<div class="icons-wrap">-->

    <!--<div class="icons-item">-->
    <!--<div class="item-box">-->
    <!--<i>01.</i>-->
    <!--<h5 class="icons-box-title"><a href="#">Experienced</a></h5>-->
    <!--<p>Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. </p>-->
    <!--</div>-->
    <!--</div>-->

    <!--</div>-->

    <!--&lt;!&ndash; - - - - - - - - - - - - - Icon Box Item - - - - - - - - - - - - - - - - &ndash;&gt;        -->
    <!--<div class="icons-wrap">-->

    <!--<div class="icons-item">-->
    <!--<div class="item-box">-->
    <!--<i>02.</i>-->
    <!--<h5 class="icons-box-title"><a href="#">FOCUSED ON YOU</a></h5>-->
    <!--<p>Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus. Vestibulum libero nisl, porta vel.</p>-->
    <!--</div>-->
    <!--</div>-->

    <!--</div>-->

    <!--&lt;!&ndash; - - - - - - - - - - - - - Icon Box Item - - - - - - - - - - - - - - - - &ndash;&gt;        -->
    <!--<div class="icons-wrap">-->

    <!--<div class="icons-item">-->
    <!--<div class="item-box">-->
    <!--<i>03.</i>-->
    <!--<h5 class="icons-box-title"><a href="#">REPUTATION</a></h5>-->
    <!--<p>Vivamus eget nibh. Etiam cursus leo vel metus. Nulla facilisi. Aenean nec eros. Vestibulum ante ipsum primis in faucibus.</p>-->
    <!--</div>-->
    <!--</div>-->

    <!--</div>-->

    <!--</div>-->

    <!--</div>-->

    <!--</div>-->

    <!--</div>-->
    <!---->
    <!--&lt;!&ndash; Page section &ndash;&gt;-->
    <!--<div class="page-section-bg2 parallax-section" data-bg="images/1920x868_bg1.jpg">-->
    <!---->
    <!--<div class="container extra">-->

    <!--<div class="title-holder">-->
    <!---->
    <!--<div class="align-center">-->
    <!---->
    <!--<div class="pre-title">Helping Where It Counts</div>-->
    <!--<h2 class="section-title">Successful Case Results<span class="item-divider-3 style-3 var2"></span></h2>-->

    <!--</div>-->

    <!--</div>-->

    <!--<div class="carousel-type-2">-->
    <!---->
    <!--<div class="owl-carousel icons-box price-box style-1 type-3 flex-row" data-max-items="4">-->
    <!---->
    <!--&lt;!&ndash; Owl item &ndash;&gt;-->
    <!--<div class="icons-wrap">-->

    <!--<div class="icons-item">-->
    <!--<div class="item-box">-->
    <!--<h2 class="price">$27M</h2>-->
    <!--<p class="text-size-medium">Settlement for Dangerous <br> Product Victims</p>-->
    <!--<a href="#" class="info-btn">Read More</a>-->
    <!--</div>-->
    <!--</div>-->

    <!--</div>-->

    <!--&lt;!&ndash; Owl item &ndash;&gt;-->
    <!--<div class="icons-wrap">-->

    <!--<div class="icons-item">-->
    <!--<div class="item-box">-->
    <!--<h2 class="price">$22M</h2>-->
    <!--<p class="text-size-medium">Settlement Won <br> for Injured Worker</p>-->
    <!--<a href="#" class="info-btn">Read More</a>-->
    <!--</div>-->
    <!--</div>-->

    <!--</div>-->

    <!--&lt;!&ndash; Owl item &ndash;&gt;-->
    <!--<div class="icons-wrap">-->

    <!--<div class="icons-item">-->
    <!--<div class="item-box">-->
    <!--<h2 class="price">$19M</h2>-->
    <!--<p class="text-size-medium">Settlement Won <br> for Accident Victim</p>-->
    <!--<a href="#" class="info-btn">Read More</a>-->
    <!--</div>-->
    <!--</div>-->

    <!--</div>-->

    <!--&lt;!&ndash; Owl item &ndash;&gt;-->
    <!--<div class="icons-wrap">-->

    <!--<div class="icons-item">-->
    <!--<div class="item-box">-->
    <!--<h2 class="price">$13M</h2>-->
    <!--<p class="text-size-medium">Settlement Won for <br> Female Offshore Worker</p>-->
    <!--<a href="#" class="info-btn">Read More</a>-->
    <!--</div>-->
    <!--</div>-->

    <!--</div>-->

    <!--</div>-->

    <!--<div class="align-center">-->
    <!--<a href="#" class="btn">More Case Results</a>-->
    <!--</div>-->

    <!--</div>-->

    <!--</div>-->

    <!--</div>-->
    <!---->
    <!--&lt;!&ndash; Page section &ndash;&gt;-->
    <!--<div class="page-section no-bts">-->
    <!---->
    <!--<div class="content-element5">-->
    <!---->
    <!--<div class="container extra">-->
    <!---->
    <!--<div class="row">-->
    <!--<div class="col-sm-6">-->
    <!---->
    <!--<div class="pre-title">Practice Areas</div>-->
    <!--<h2 class="section-title">How We Can Help You<span class="item-divider-3 style-3"></span></h2>-->

    <!--</div>-->
    <!--<div class="col-sm-6">-->
    <!---->
    <!--<p>Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus. Vestibulum libero nisl, porta vel, scelerisque eget, malesuada. </p>-->

    <!--</div>-->
    <!--</div>-->

    <!--</div>-->

    <!--</div>-->
    <!---->
    <!--&lt;!&ndash; Services &ndash;&gt;-->

    <!--<div class="services">-->
    <!---->
    <!--<div class="flex-row">-->
    <!---->
    <!--&lt;!&ndash; Service column &ndash;&gt;-->

    <!--<div class="item-col">-->
    <!---->
    <!--&lt;!&ndash; Service item &ndash;&gt;-->

    <!--<a href="#" class="service-item dark">-->

    <!--<figure>-->
    <!--<img src="images/320x308_img1.jpg" alt="">-->
    <!--</figure>-->
    <!---->
    <!--<span class="service-title">Personal Injury</span>-->

    <!--</a>-->

    <!--</div>-->

    <!--&lt;!&ndash; Service column &ndash;&gt;-->

    <!--<div class="item-col-2">-->
    <!---->
    <!--&lt;!&ndash; Service item &ndash;&gt;-->

    <!--<a href="#" class="service-item grey">-->

    <!--<figure>-->
    <!--<img src="images/640x308_img1.jpg" alt="">-->
    <!--</figure>-->
    <!---->
    <!--<span class="service-title">Industrial Injury</span>-->

    <!--</a>-->

    <!--</div>-->

    <!--&lt;!&ndash; Service column &ndash;&gt;-->

    <!--<div class="item-col">-->
    <!---->
    <!--&lt;!&ndash; Service item &ndash;&gt;-->

    <!--<a href="#" class="service-item green">-->

    <!--<figure>-->
    <!--<img src="images/320x308_img2.jpg" alt="">-->
    <!--</figure>-->
    <!---->
    <!--<span class="service-title">Insurance Claims</span>-->

    <!--</a>-->

    <!--</div>-->

    <!--&lt;!&ndash; Service column &ndash;&gt;-->

    <!--<div class="item-col-2">-->
    <!---->
    <!--&lt;!&ndash; Service item &ndash;&gt;-->

    <!--<a href="#" class="service-item grey">-->

    <!--<figure>-->
    <!--<img src="images/640x308_img2.jpg" alt="">-->
    <!--</figure>-->
    <!---->
    <!--<span class="service-title">Truck Accidents</span>-->

    <!--</a>-->

    <!--</div>-->

    <!--&lt;!&ndash; Service column &ndash;&gt;-->

    <!--<div class="item-col-2">-->
    <!---->
    <!--&lt;!&ndash; Service item &ndash;&gt;-->

    <!--<a href="#" class="service-item grey">-->
    <!---->
    <!--<figure>-->
    <!--<img src="images/640x308_img3.jpg" alt="">-->
    <!--</figure>-->
    <!---->
    <!--<span class="service-title">Business & Real Estate</span>-->

    <!--</a>-->

    <!--</div>-->

    <!--&lt;!&ndash; Service column &ndash;&gt;-->

    <!--<div class="item-col">-->
    <!---->
    <!--&lt;!&ndash; Service item &ndash;&gt;-->

    <!--<a href="#" class="service-item green">-->

    <!--<figure>-->
    <!--<img src="images/320x308_img3.jpg" alt="">-->
    <!--</figure>-->
    <!---->
    <!--<span class="service-title">Automobile Accidents</span>-->

    <!--</a>-->

    <!--</div>-->

    <!--&lt;!&ndash; Service column &ndash;&gt;-->

    <!--<div class="item-col-2">-->
    <!---->
    <!--&lt;!&ndash; Service item &ndash;&gt;-->

    <!--<a href="#" class="service-item dark">-->

    <!--<figure>-->
    <!--<img src="images/640x308_img4.jpg" alt="">-->
    <!--</figure>-->
    <!---->
    <!--<span class="service-title">Maritime & Offshore Injury</span>-->

    <!--</a>-->

    <!--</div>-->

    <!--&lt;!&ndash; Service column &ndash;&gt;-->

    <!--<div class="item-col">-->
    <!---->
    <!--&lt;!&ndash; Service item &ndash;&gt;-->

    <!--<a href="#" class="service-item green">-->

    <!--<figure>-->
    <!--<img src="images/320x308_img4.jpg" alt="">-->
    <!--</figure>-->
    <!---->
    <!--<span class="service-title">Railroad Accidents</span>-->

    <!--</a>-->

    <!--</div>-->

    <!--&lt;!&ndash; Service column &ndash;&gt;-->

    <!--<div class="item-col">-->
    <!---->
    <!--&lt;!&ndash; Service item &ndash;&gt;-->

    <!--<a href="#" class="service-item dark">-->

    <!--<figure>-->
    <!--<img src="images/320x308_img5.jpg" alt="">-->
    <!--</figure>-->
    <!---->
    <!--<span class="service-title">Estate Planning</span>-->

    <!--</a>-->

    <!--</div>-->

    <!--&lt;!&ndash; Service column &ndash;&gt;-->

    <!--<div class="item-col">-->
    <!---->
    <!--&lt;!&ndash; Service item &ndash;&gt;-->

    <!--<a href="#" class="service-item green">-->

    <!--<figure>-->
    <!--<img src="images/320x308_img6.jpg" alt="">-->
    <!--</figure>-->
    <!---->
    <!--<span class="service-title">Airplane Accidents</span>-->

    <!--</a>-->

    <!--</div>-->

    <!--&lt;!&ndash; Service column &ndash;&gt;-->

    <!--<div class="item-col-2">-->
    <!---->
    <!--&lt;!&ndash; Service item &ndash;&gt;-->

    <!--<a href="#" class="service-item dark">-->

    <!--<figure>-->
    <!--<img src="images/640x308_img5.jpg" alt="">-->
    <!--</figure>-->
    <!---->
    <!--<span class="service-title">Medical / Pharmaceutical Injury</span>-->

    <!--</a>-->

    <!--</div>-->

    <!--&lt;!&ndash; Service column &ndash;&gt;-->

    <!--<div class="item-col">-->
    <!---->
    <!--&lt;!&ndash; Service item &ndash;&gt;-->

    <!--<a href="#" class="service-item green">-->

    <!--<figure>-->
    <!--<img src="images/320x308_img7.jpg" alt="">-->
    <!--</figure>-->
    <!---->
    <!--<span class="service-title">Elder Law</span>-->

    <!--</a>-->

    <!--</div>-->

    <!--&lt;!&ndash; Service column &ndash;&gt;-->

    <!--<div class="item-col">-->
    <!---->
    <!--&lt;!&ndash; Service item &ndash;&gt;-->

    <!--<a href="#" class="service-item dark">-->

    <!--<figure>-->
    <!--<img src="images/320x308_img8.jpg" alt="">-->
    <!--</figure>-->
    <!---->
    <!--<span class="service-title">Criminal Defense</span>-->

    <!--</a>-->

    <!--</div>-->

    <!--</div>-->

    <!--</div>-->

    <!--</div>-->
    <!---->
    <!--&lt;!&ndash; Page section &ndash;&gt;-->
    <!--<div class="page-section-bg">-->

    <!--<div class="container extra">-->

    <!--<div class="content-element5">-->
    <!---->
    <!--<div class="align-center">-->
    <!---->
    <!--<div class="pre-title">Testimonials</div>-->
    <!--<h2 class="section-title">What Our Clients Say<span class="item-divider-3 style-3"></span></h2>-->

    <!--</div>-->

    <!--</div>-->

    <!--&lt;!&ndash; - - - - - - - - - - - - Owl-Carousel - - - - - - - - - - - - - - - &ndash;&gt;-->
    <!---->
    <!--<div class="carousel-type-1">-->
    <!---->
    <!--<div class="owl-carousel testimonial-holder style-2" data-max-items="1" data-item-margin="30" data-autoplay="true">-->
    <!---->
    <!--&lt;!&ndash; Slide &ndash;&gt;                  -->
    <!--<div class="item-carousel">-->
    <!--&lt;!&ndash; Carousel Item &ndash;&gt;                  -->
    <!--&lt;!&ndash; - - - - - - - - - - - - - Testimonial - - - - - - - - - - - - - - - - &ndash;&gt;-->
    <!--<div class="testimonial">-->

    <!--<div class="author-box">-->

    <!--<a href="#" class="avatar">-->
    <!--<img src="images/252x252_photo1.jpg" alt="">-->
    <!--</a>-->

    <!--</div>-->
    <!---->
    <!--<blockquote>-->
    <!--<p>Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus. Vestibulum libero nisl, porta vel, scelerisque eget, malesuada at, neque. Vivamus eget nibh. Etiam cursus leo vel metus.</p>-->
    <!--<div class="author">Mark Johnson, Real Estate Client</div>-->
    <!--</blockquote>-->
    <!---->
    <!--</div>-->
    <!--&lt;!&ndash; /Carousel Item &ndash;&gt; -->
    <!--</div>-->
    <!--&lt;!&ndash; /Slide &ndash;&gt;-->
    <!---->
    <!--&lt;!&ndash; Slide &ndash;&gt;                  -->
    <!--<div class="item-carousel">-->
    <!--&lt;!&ndash; Carousel Item &ndash;&gt;                  -->
    <!--&lt;!&ndash; - - - - - - - - - - - - - Testimonial - - - - - - - - - - - - - - - - &ndash;&gt;-->
    <!--<div class="testimonial">-->

    <!--<div class="author-box">-->

    <!--<a href="#" class="avatar">-->
    <!--<img src="images/252x252_photo1.jpg" alt="">-->
    <!--</a>-->

    <!--</div>-->
    <!---->
    <!--<blockquote>-->
    <!--<p>Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus. Vestibulum libero nisl, porta vel, scelerisque eget, malesuada at, neque. Vivamus eget nibh. Etiam cursus leo vel metus.</p>-->
    <!--<div class="author">Mark Johnson, Real Estate Client</div>-->
    <!--</blockquote>-->
    <!---->
    <!--</div>-->
    <!--&lt;!&ndash; /Carousel Item &ndash;&gt; -->
    <!--</div>-->
    <!--&lt;!&ndash; /Slide &ndash;&gt;-->

    <!--&lt;!&ndash; Slide &ndash;&gt;                  -->
    <!--<div class="item-carousel">-->
    <!--&lt;!&ndash; Carousel Item &ndash;&gt;                  -->
    <!--&lt;!&ndash; - - - - - - - - - - - - - Testimonial - - - - - - - - - - - - - - - - &ndash;&gt;-->
    <!--<div class="testimonial">-->

    <!--<div class="author-box">-->

    <!--<a href="#" class="avatar">-->
    <!--<img src="images/252x252_photo1.jpg" alt="">-->
    <!--</a>-->

    <!--</div>-->
    <!---->
    <!--<blockquote>-->
    <!--<p>Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus. Vestibulum libero nisl, porta vel, scelerisque eget, malesuada at, neque. Vivamus eget nibh. Etiam cursus leo vel metus.</p>-->
    <!--<div class="author">Mark Johnson, Real Estate Client</div>-->
    <!--</blockquote>-->
    <!---->
    <!--</div>-->
    <!--&lt;!&ndash; /Carousel Item &ndash;&gt; -->
    <!--</div>-->
    <!--&lt;!&ndash; /Slide &ndash;&gt;-->
    <!---->
    <!--</div>-->
    <!---->
    <!--</div>-->
    <!--</div>-->

    <!--</div>-->
    <!---->
    <!--&lt;!&ndash; Page section &ndash;&gt;-->
    <!--<div class="page-section">-->
    <!---->
    <!--<div class="container extra">-->
    <!---->
    <!--<div class="content-element5">-->
    <!---->
    <!--<div class="align-center">-->
    <!---->
    <!--<div class="pre-title">Our Team</div>-->
    <!--<h2 class="section-title">Meet Our Attorneys<span class="item-divider-3 style-3"></span></h2>-->
    <!--<p>Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, <br> dapibus eget, elementum vel, cursus eleifend, elit. </p>-->

    <!--</div>-->

    <!--</div>-->

    <!--<div class="carousel-type-2">-->
    <!---->
    <!--<div class="team-holder owl-carousel" data-max-items="3" data-item-margin="30">-->
    <!---->
    <!--<div class="owl-item">-->
    <!---->
    <!--&lt;!&ndash; team element &ndash;&gt;-->
    <!--<div class="team-item">-->

    <!--<div class="team-member">-->
    <!--<a href="#" class="member-photo">-->
    <!--<img src="images/356x392_img1.jpg" alt="">-->
    <!--</a>-->
    <!--<div class="team-desc overlay">-->
    <!--<div class="member-info">-->
    <!--<h5 class="member-name"><a href="#">Sam Hicks</a></h5>-->
    <!--<h6 class="member-position">Personal Injury</h6>-->
    <!--<p>Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat </p>-->
    <!--<a href="#" class="btn">View Profile</a>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->

    <!--</div>-->
    <!---->
    <!--</div>-->

    <!--<div class="owl-item">-->
    <!---->
    <!--&lt;!&ndash; team element &ndash;&gt;-->
    <!--<div class="team-item">-->

    <!--<div class="team-member">-->
    <!--<a href="#" class="member-photo">-->
    <!--<img src="images/356x392_img2.jpg" alt="">-->
    <!--</a>-->
    <!--<div class="team-desc overlay">-->
    <!--<div class="member-info">-->
    <!--<h5 class="member-name"><a href="#">Bradley Hynson</a></h5>-->
    <!--<h6 class="member-position">Estate Planning</h6>-->
    <!--<p>Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat </p>-->
    <!--<a href="#" class="btn">View Profile</a>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->

    <!--</div>-->
    <!---->
    <!--</div>-->

    <!--<div class="owl-item">-->
    <!---->
    <!--&lt;!&ndash; team element &ndash;&gt;-->
    <!--<div class="team-item">-->

    <!--<div class="team-member">-->
    <!--<a href="#" class="member-photo">-->
    <!--<img src="images/356x392_img3.jpg" alt="">-->
    <!--</a>-->
    <!--<div class="team-desc overlay">-->
    <!--<div class="member-info">-->
    <!--<h5 class="member-name"><a href="#">Jessica Priston</a></h5>-->
    <!--<h6 class="member-position">Criminal Defense</h6>-->
    <!--<p>Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat </p>-->
    <!--<a href="#" class="btn">View Profile</a>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->

    <!--</div>-->
    <!---->
    <!--</div>-->

    <!--</div>-->

    <!--</div>-->

    <!--</div>-->

    <!--</div>-->

    <!-- Page section -->
    <!--<div class="page-section-bg2">-->

      <!--<div class="container extra">-->

        <!--<div class="row">-->
          <!--<div class="col-md-7 col-sm-12">-->

            <!--<div class="content-element5">-->

              <!--<h2 class="section-title">Request a Free Consultation<span class="item-divider-3 style-3"></span></h2>-->
              <!--<p>Get your free case review within 24 hours. All Fields Required.</p>-->

            <!--</div>-->

            <!--<form id="contact-form" class="contact-form">-->

              <!--<div class="flex-row">-->

                <!--<div class="col-sm-4">-->

                  <!--<input type="text" name="cf-name" placeholder="Name *" required>-->

                <!--</div>-->
                <!--<div class="col-sm-4">-->

                  <!--<input type="tel" name="cf-phone" placeholder="Phone *" required>-->

                <!--</div>-->
                <!--<div class="col-sm-4">-->

                  <!--<input type="email" name="cf-email" placeholder="Email *" required>-->

                <!--</div>-->
                <!--<div class="col-sm-12">-->

                  <!--<textarea rows="3" name="cf-message" placeholder="Message *" required></textarea>-->

                <!--</div>-->

                <!--<div class="col-sm-12">-->

                  <!--<button type="submit" class="btn btn-style-2" data-type="submit">Submit</button>-->

                <!--</div>-->

              <!--</div>-->

            <!--</form>-->

          <!--</div>-->
          <!--<div class="col-md-5 col-sm-12">-->

            <!--<div class="push-left-30">-->
              <!--<h2 class="section-title">Contact Us<span class="item-divider-3 style-3"></span></h2>-->

              <!--<div class="content-element5">-->
                <!--<div class="our-info">-->

                  <!--<p><i class="licon-map-marker"></i>14 Penn Plaza, Suite 1517, New York, NY 10122.</p>-->
                  <!--<p content="telephone=no"><i class="licon-telephone"></i>+1 800 559 6580</p>-->
                  <!--<p content="telephone=no"><i class="licon-printer"></i>+1 800 889 9898</p>-->
                  <!--<p><i class="licon-clock3"></i>Mon-Fri 8am- 5pm / Phones are open 24/7 </p>-->

                <!--</div>-->

                <!--<a href="https://www.google.com/maps/dir//2032+S+Elliott+Ave,+Aurora,+MO+65605/@36.9487043,-93.7878472,12z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x87cf4b1a194c90e1:0xba30bfe0c0a857c!2m2!1d-93.7178072!2d36.9487249" class="info-btn">Get Directions</a>-->
              <!--</div>-->

              <!--<ul class="social-icons">-->

                <!--<li><a href="#"><i class="icon-facebook"></i></a></li>-->
                <!--<li><a href="#"><i class="icon-twitter"></i></a></li>-->
                <!--<li><a href="#"><i class="icon-gplus-3"></i></a></li>-->
                <!--<li><a href="#"><i class="icon-linkedin-3"></i></a></li>-->

              <!--</ul>-->
            <!--</div>-->

          <!--</div>-->
        <!--</div>-->

      <!--</div>-->

    <!--</div>-->

  </div>

  {% include footer.html %}
</div>