---
layout: default
title: Sun & Ren PLLC
---

{% include navigation2.html %}

<div class="breadcrumbs-wrap style-2">

  <div class="container">

    <h1 class="page-title">商业服务</h1>

    <ul class="breadcrumbs">

      <li><a href={{"/" | absolute_url}}>首页</a></li>
      <li>业务领域</li>
      <li>商业服务</li>

    </ul>

  </div>

</div>


<div id="content" class="page-content-wrap2">

  <div class="container">

    <div class="row">

      <main id="main" class="col-md-8 col-sm-12">

        <div class="content-element2">

          <div class="content-element3">

            <img src={{"/images/business.jpg" | absolute_url}} alt="">

          </div>
          <div class="contentWrapper">
            <h5 class="sub-title"><b>General Corporate</b></h5>
            <p>
              The firm provides service to companies at various stages of their development. We help clients in forming proper corporate entities and drafting corporate formation documents. Drafting, reviewing and negotiating all aspects of corporate finance agreement, including term sheet, amended certificate of corporation, stock purchase agreement, investor suitability questionnaire, investors’ rights agreement, shareholders and board directors written consent form. We also perform due diligence to guide mergers and acquisitions.
            </p>

          </div>


          <!--<ul class="custom-list type-1">-->

            <!--<li>Donec porta diam eu massa. Quisque diam lorem, interdum vitae</li>-->
            <!--<li>Scelerisque vitae, pede. Donec eget tellus non erat lacinia </li>-->
            <!--<li>fermentum</li>-->

          <!--</ul>-->

          <!--<p>Nam elit agna,endrerit sit amet, tincidunt ac, viverra sed, nulla. Donec porta diam eu massa. Quisque diam lorem, interdum vitae,dapibus ac, scelerisque vitae, pede. Donec eget tellus non erat lacinia fermentum. Donec in velit vel ipsum auctor pulvinar. Vestibulum iaculis lacinia est. </p>-->
          <!--<p>Proin dictum elementum velit. Fusce euismod consequat ante. Lorem ipsum dolor sit amet, consectetuer adipisMauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. Nulla venenatis. In pede mi, aliquet sit amet, euismod in,auctor ut, ligula. Aliquam dapibus tincidunt metus. </p>-->

        </div>

<!--        <h3><b>Related Cases</b></h3>-->

<!--        <div class="icons-box price-box style-1 type-3 small-size">-->

<!--          <div class="flex-row fx-col-3">-->

<!--            <div class="icons-wrap">-->

<!--              <div class="icons-item">-->
<!--                <div class="item-box">-->
<!--                  <h3 class="price">$5M</h3>-->
<!--                  <p>Settlement Won for <br> Female Offshore Worker</p>-->
<!--                  <a href="#" class="info-btn">Read More</a>-->
<!--                </div>-->
<!--              </div>-->

<!--            </div>-->

<!--            <div class="icons-wrap">-->

<!--              <div class="icons-item">-->
<!--                <div class="item-box">-->
<!--                  <h3 class="price">$3.5M</h3>-->
<!--                  <p>Settlement for <br> Chemical Injuries</p>-->
<!--                  <a href="#" class="info-btn">Read More</a>-->
<!--                </div>-->
<!--              </div>-->

<!--            </div>-->

<!--            <div class="icons-wrap">-->

<!--              <div class="icons-item">-->
<!--                <div class="item-box">-->
<!--                  <h3 class="price">$825K</h3>-->
<!--                  <p>Trucking Collision <br> Settlement</p>-->
<!--                  <a href="#" class="info-btn">Read More</a>-->
<!--                </div>-->
<!--              </div>-->

<!--            </div>-->

<!--          </div>-->

<!--        </div>-->

      </main>

      {% include sidebar.html %}

    </div>

  </div>

</div>

{% include footer.html %}