---
layout: default
title: SunRenLaw
---

{% include navigation2.html %}

<div class="breadcrumbs-wrap style-2">

  <div class="container">

    <h1 class="page-title">移民</h1>

    <ul class="breadcrumbs">

      <li><a href={{"/" | absolute_url}}>首页</a></li>
      <li>业务领域</li>
      <li>移民</li>

    </ul>

  </div>

</div>


<div id="content" class="page-content-wrap2">

  <div class="container">

    <div class="row">

      <main id="main" class="col-md-8 col-sm-12">

        <div class="content-element2">

          <div class="content-element3">

            <img src={{"/images/immigration.jpg" | absolute_url}} alt="">

          </div>
          <div class="contentWrapper">
            <h5 class="sub-title"><b>Immigration</b></h5>
              <p>Among the firm's prestige services are advising young artists, startup employers and professionals equipped with exceptional ability in sciences, arts or business regarding immigration and non-immigration visa applications. At Wenjie Sun & Associates, it is able to provide you with cutting-edge knowledge of immigration practice.  </p>
            <section id="sec1">
              <h6>H-1B Specialty Occupations, DOD Cooperative Research and Development Project Workers, and Fashion Models</h6>
              <p>This visa category applies to people who wish to perform services in a specialty occupation, services of exceptional merit and ability relating to a Department of Defense (DOD) cooperative research and development project, or services as a fashion model of distinguished merit or ability.</p>
            </section>
            <section id="sec2">
              <h6>L-1  Intracompany Transferee Executive or Manager, Intracompany Transferee Specialized Knowledge</h6>
              <p>The L-1A nonimmigrant classification enables a U.S. employer to transfer an executive or manager from one of its affiliated foreign offices to one of its offices in the United States.  This classification also enables a foreign company which does not yet have an affiliated U.S. office to send an executive or manager to the United States with the purpose of establishing one.</p>
              <p>The L-1B nonimmigrant classification enables a U.S. employer to transfer a professional employee with specialized knowledge relating to the organization’s interests from one of its affiliated foreign offices to one of its offices in the United States.  This classification also enables a foreign company which does not yet have an affiliated U.S. office to send a specialized knowledge employee to the United States to help establish one.</p>
            </section>
            <section id="sec3">
              <h6>O-1 Visa: Individuals with Extraordinary Ability or Achievement</h6>
              <p>The O-1 nonimmigrant visa is for the individual who possesses extraordinary ability in the sciences, arts, education, business, or athletics, or who has a demonstrated record of extraordinary achievement in the motion picture or television industry and has been recognized nationally or internationally for those achievements.</p>
            </section>
            <section id="sec4">
              <h6>“PERM” 劳工证</h6>
            </section>
            <section id="sec5">
              <h6>EB5 投资移民 EB-5 Immigrant Investor Program</h6>
              <p>USCIS administers the EB-5 Program. Under this program, entrepreneurs (and their spouses and unmarried children under 21) are eligible to apply for a green card (permanent residence) if they:</p>
              <p>Make the necessary investment in a commercial enterprise in the United States; and</p>
              <p>Plan to create or preserve 10 permanent full-time jobs for qualified U.S. workers.</p>
              <p>This program is known as EB-5 for the name of the employment-based fifth preference visa that participants receive.</p>
            </section>
            <section id="sec6">
              <h6>Employment-Based Immigration: First Preference EB-1</h6>
              <p>You may be eligible for an employment-based, first-preference visa if you have an extraordinary ability, are an outstanding professor or researcher, or are a multinational executive or manager.</p>
            </section>
            <section id="sec7">
              <h6>Employment-Based Immigration: Second Preference EB-2</h6>
              <p>You may be eligible for an employment-based, second preference visa if you are a member of the professions holding an advanced degree or its equivalent, or a foreign national who has exceptional ability.</p>
            </section>
            <section id="sec8">
              <h6>Employment-Based Immigration: Third Preference EB-3</h6>
              <p>You may be eligible for this immigrant visa preference category if you are a skilled worker, professional, or other worker.</p>
              <p>“Skilled workers” are persons whose job requires a minimum of 2 years training or work experience, not of a temporary or seasonal nature</p>
              <p>“Professionals” are persons whose job requires at least a U.S. baccalaureate degree or a foreign equivalent and are a member of the professions</p>
              <p>The “other workers” subcategory is for persons performing unskilled labor requiring less than 2 years training or experience, not of a temporary or seasonal nature.</p>
            </section>
            <section id="sec9">
              <h6>TN NAFTA Professionals</h6>
              <p>The North American Free Trade Agreement (NAFTA) created special economic and trade relationships for the United States, Canada and Mexico. The TN nonimmigrant classification permits qualified Canadian and Mexican citizens to seek temporary entry into the United States to engage in business activities at a professional level.</p>
              <p>Among the types of professionals who are eligible to seek admission as TN nonimmigrants are accountants, engineers, lawyers, pharmacists, scientists, and teachers</p>
            </section>
            <section id="sec10">
              <h6>E-1 Treaty Traders and E-2 Treaty Investors</h6>
              <p>The E-1 nonimmigrant classification allows a national of a treaty country (a country with which the United States maintains a treaty of commerce and navigation) to be admitted to the United States solely to engage in international trade on his or her own behalf.  Certain employees of such a person or of a qualifying organization may also be eligible for this classification.</p>
              <p>The E-2 nonimmigrant classification allows a national of a treaty country (a country with which the United States maintains a treaty of commerce and navigation) to be admitted to the United States when investing a substantial amount of capital in a U.S. business.  Certain employees of such a person or of a qualifying organization may also be eligible for this classification.</p>
            </section>
            <section id="sec11">
              <h6>NIW - 国家利益豁免</h6>
              <p>National Interest Waiver (NIW) National Interest Waiver (NIW) is a petition for an employment-based immigrant visa under the second preference ("EB-2"). Under the “National Interest Waiver” (NIW) provision for EB-2, an individual may seek a waiver of the otherwise required offer of employment –and thus corresponding labor certification- by establishing that his/her admission to permanent residency would be in the so-called "national interest". As a result, this means that potential beneficiaries can petition on their own behalf.</p>
            </section>
          </div>


          <!--<ul class="custom-list type-1">-->

            <!--<li>Donec porta diam eu massa. Quisque diam lorem, interdum vitae</li>-->
            <!--<li>Scelerisque vitae, pede. Donec eget tellus non erat lacinia </li>-->
            <!--<li>fermentum</li>-->

          <!--</ul>-->

          <!--<p>Nam elit agna,endrerit sit amet, tincidunt ac, viverra sed, nulla. Donec porta diam eu massa. Quisque diam lorem, interdum vitae,dapibus ac, scelerisque vitae, pede. Donec eget tellus non erat lacinia fermentum. Donec in velit vel ipsum auctor pulvinar. Vestibulum iaculis lacinia est. </p>-->
          <!--<p>Proin dictum elementum velit. Fusce euismod consequat ante. Lorem ipsum dolor sit amet, consectetuer adipisMauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. Nulla venenatis. In pede mi, aliquet sit amet, euismod in,auctor ut, ligula. Aliquam dapibus tincidunt metus. </p>-->

        </div>

<!--        <h3><b>Related Cases</b></h3>-->

<!--        <div class="icons-box price-box style-1 type-3 small-size">-->

<!--          <div class="flex-row fx-col-3">-->

<!--            <div class="icons-wrap">-->

<!--              <div class="icons-item">-->
<!--                <div class="item-box">-->
<!--                  <h3 class="price">$5M</h3>-->
<!--                  <p>Settlement Won for <br> Female Offshore Worker</p>-->
<!--                  <a href="#" class="info-btn">Read More</a>-->
<!--                </div>-->
<!--              </div>-->

<!--            </div>-->

<!--            <div class="icons-wrap">-->

<!--              <div class="icons-item">-->
<!--                <div class="item-box">-->
<!--                  <h3 class="price">$3.5M</h3>-->
<!--                  <p>Settlement for <br> Chemical Injuries</p>-->
<!--                  <a href="#" class="info-btn">Read More</a>-->
<!--                </div>-->
<!--              </div>-->

<!--            </div>-->

<!--            <div class="icons-wrap">-->

<!--              <div class="icons-item">-->
<!--                <div class="item-box">-->
<!--                  <h3 class="price">$825K</h3>-->
<!--                  <p>Trucking Collision <br> Settlement</p>-->
<!--                  <a href="#" class="info-btn">Read More</a>-->
<!--                </div>-->
<!--              </div>-->

<!--            </div>-->

<!--          </div>-->

<!--        </div>-->

      </main>

      {% include sidebar.html %}

    </div>

  </div>

</div>

{% include footer.html %}