---
layout: default
title: Sun & Ren PLLC
---
{% include navigation2.html %}
<!--<div class="breadcrumbs-wrap style-3 align-center" data-bg="images/1920x225_bg1.jpg">-->
<!--    <div class="container">-->
<!--        <h1 class="page-title">Professionals</h1>-->
<!--        &lt;!&ndash;    <ul class="breadcrumbs">&ndash;&gt;-->
<!--        &lt;!&ndash;      <li><a href={{"/" | absolute_url}}>首页</a></li>&ndash;&gt;-->
<!--        &lt;!&ndash;      <li>专业团队</li>&ndash;&gt;-->
<!--        &lt;!&ndash;    </ul>&ndash;&gt;-->
<!--    </div>-->
<!--</div>-->
<div id="content" class="page-content-wrap2">
    <div class="container">
        <div class="services">
            <!-- - - - - - - - - - - - - - Filter - - - - - - - - - - - - - - - - -->
            <!--                <div id="options">-->
            <!--                    <div id="filters" class="isotope-nav">-->
            <!--                        <button class="is-checked" data-filter="*">All</button>-->
            <!--                        <button data-filter=".category_1">Personal Injury</button>-->
            <!--                    </div>-->
            <!--                </div>-->
            <!-- - - - - - - - - - - - - - End of Filter - - - - - - - - - - - - - - - - -->
            <div class="isotope three-collumn clearfix team-holder style-3" data-isotope-options='{"itemSelector" : ".item","layoutMode" : "fitRows","transitionDuration":"0.7s","fitRows" : {"columnWidth":".item"}}'>
                <!-- Isotope column -->
                <div class="item category_1">
                    <div class="team-item">
                        <div class="team-member">
                            <a href="/attorneys/1/" class="member-photo">
                                <img src="/images/sun.jpg" alt="">
                            </a>
                            <div class="team-desc">
                                <div class="member-info">
                                    <h5 class="member-name"><a href="#">Wenjie Sun</a></h5>
                                    <h6 class="member-position">Partner</h6>
                                    <p><a href="tel:0016318883636">Phone: +1 (631) 888 3636</a></p>
                                    <p><a href="mailTo:wenjie@sunrenlaw.com">Email: wenjie@sunrenlaw.com</a></p>
                                    <a href="/attorneys/1/" class="btn">View Profile</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item category_1">
                    <div class="team-item">
                        <div class="team-member">
                            <a href="/attorneys/2/" class="member-photo">
                                <img src="/images/ren.jpg" alt="">
                            </a>
                            <div class="team-desc">
                                <div class="member-info">
                                    <h5 class="member-name"><a href="#">Momo Ren</a></h5>
                                    <h6 class="member-position">Partner</h6>
                                    <p><a href="tel:0016318883636">Phone: +1 (631) 888 3636</a></p>
                                    <p><a href="mailTo:mren@sunrenlaw.com">Email: mren@sunrenlaw.com</a></p>
                                    <a href="/attorneys/2/" class="btn">View Profile</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/libs/jquery.modernizr.js"></script>
<script src="/js/libs/jquery-2.2.4.min.js"></script>
<script src="/js/libs/jquery-ui.min.js"></script>
<script src="/js/libs/retina.min.js"></script>
<script src="/plugins/isotope.pkgd.min.js"></script>
<script src="/plugins/jquery.queryloader2.min.js"></script>
<script src="/js/plugins.js"></script>
<script src="/js/script.js"></script>
{% include footer.html %}