---
layout: default
title: Sun & Ren PLLC
---
{% include navigation2.html %}
<div class="breadcrumbs-wrap style-2">
  <div class="container">
    <h1 class="page-title">E-2: E-1 (Treaty Trader) & E-2 (Treaty Investor)</h1>
  </div>
</div>
<div id="content" class="page-content-wrap2">
  <div class="container">
    <div class="row">
      <main id="main" class="col-md-8 col-sm-12">
        <div class="content-element2">
          <div class="content-element3">
<!--            <img src={{"/images/immigration.jpg" | absolute_url}} alt="">-->
          </div>
          <div class="contentWrapper">
            <h5 class="sub-title"><b></b></h5>
            <p>E-1 and E-2 visas are available to citizens of foreign countries that have a treaty of commerce and navigation, or a bilateral investment treaty that provides for non-immigrant entries, with the United States. E-1 and E-2 visas are based on different treaties, however, and depending on which country the beneficiary is from, he or she may not be eligible to apply for both visas.  Both E-1 and E-2 visa holders are initially allowed a maximum stay of 2 years. Requests for extensions of stay can be filed and maybe granted for periods of up to 2 years each. Notably, there is no maximum limit to the number of extensions an E-1/2 non-immigrant may be granted </p>
            <h6>E-1:</h6>
            <p>The E-1 nonimmigrant classification allows a national of a treaty country (a country with which the United States maintains a treaty of commerce and navigation) to be admitted to the United States solely to engage in international trade on his or her own behalf.  Certain employees of such a person or of a qualifying organization may also be eligible for this classification. </p>
            <p>To qualify for E-1 classification, the treaty trader must: </p>
            <ul>
              <li>Be a national of a country with which the United States maintains a treaty of commerce and navigation </li>
              <li>Carry on substantial trade </li>
              <li>Carry on principal trade between the United States and the treaty country which qualified the treaty trader for E-1 classification. </li>
            </ul>
            <p>  To qualify for E-1 classification, the employee of a treaty trader must: </p>
            <ul>
              <li> Be the same nationality of the principal alien employer (who must have the nationality of the treaty country) </li>
              <li> Meet the definition of “employee” under the relevant law </li>
              <li> Either be engaging in duties of an executive or supervisory character, or if employed in a lesser capacity, have special qualifications. </li>
            </ul>
            <p>The E-2 nonimmigrant classification allows a national of a treaty country (a country with which the United States maintains a treaty of commerce and navigation) to be admitted to the United States when investing a substantial amount of capital in a U.S. business.  Certain employees of such a person or of a qualifying organization may also be eligible for this classification.  </p>
            <p>To qualify for E-2 classification, the treaty investor must: </p>
            <ul>
              <li> Be a national of a country with which the United States maintains a treaty of commerce and navigation </li>
              <li> Have invested, or be actively in the process of investing, a substantial amount of capital in a bona fide enterprise in the United States </li>
              <li> Be seeking to enter the United States solely to develop and direct the investment enterprise.  This is established by showing at least 50% ownership of the enterprise or possession of operational control through a managerial position or other corporate device </li>
            </ul>
            <p>An investment is the treaty investor’s placing of capital, including funds and/or other assets, at risk in the commercial sense with the objective of generating a profit.  The capital must be subject to partial or total loss if the investment fails.  The treaty investor must show that the funds have not been obtained, directly or indirectly, from criminal activity.  </p>  
            <p>A substantial amount of capital is: </p>
            <ul>
              <li>Substantial in relationship to the total cost of either purchasing an established enterprise or establishing a new one </li>
              <li>Sufficient to ensure the treaty investor’s financial commitment to the successful operation of the enterprise </li>
              <li>Of a magnitude to support the likelihood that the treaty investor will successfully develop and direct the enterprise.  The lower the cost of the enterprise, the higher, proportionately, the investment must be to be considered substantial. </li>
            </ul>
            <p>  There are three main requirements to apply for both E-1 and E-2 visas: </p>
            <ul>
              <li>A treaty must exist between the United States and the foreign country under whose treaty the E status is sought; </li>
              <li>Majority ownership or control of the investing or trading company must be held by nationals of the foreign country under whose treaty the E status is sought; </li>
              <li>Citizenship of the foreign country under whose treaty the status is sought by each employee or principal of the company who is seeking the E status pursuant to the treaty. </li>
            </ul>
          </div>
        </div>
      </main>
      {% include sidebarImmigration.html %}
    </div>
  </div>
</div>
{% include footer.html %}
