---
layout: default
title: Sun & Ren PLLC
---
{% include navigation2.html %}
<div class="breadcrumbs-wrap style-2">
  <div class="container">
    <h1 class="page-title">L1</h1>
  </div>
</div>
<div id="content" class="page-content-wrap2">
  <div class="container">
    <div class="row">
      <main id="main" class="col-md-8 col-sm-12">
        <div class="content-element2">
          <div class="content-element3">
<!--            <img src={{"/images/immigration.jpg" | absolute_url}} alt="">-->
          </div>
          <div class="contentWrapper">
<!--            <h5 class="sub-title"><b>E-2: E-1 (Treaty Trader) & E-2 (Treaty Investor)</b></h5>-->
              <p>The L-1 visa is a non-immigrant visa that allows companies to relocate foreign qualified employees to its U.S. subsidiary or parent company. L-1A visas are for intra-company executive transferees coming to work in the United States. L-1B visas are for professional employees with specialized knowledge. The L-1 visa also allows a company which does not currently have a U.S. office to send an executive or manager, or an employee with specialized knowledge, to the United States in order to establish one.</p>
              <h6>Employer Qualification: </h6>
              <p>To qualify for L-1 classification in this category, the employer must: </p>
              <ul>
                  <li>Have a “qualifying relationship” with a foreign company (parent company, branch, subsidiary, or affiliate, collectively referred to as qualifying organizations); and</li>
                  <li>currently be, or will be, doing business as an employer in the United States and in at least one other country directly or through a qualifying organization for the duration of the beneficiary’s stay in the United States as an L-1. While the business must be viable, there is no requirement that it be engaged in international trade.</li>
              </ul>
              <p>Doing business means the regular, systematic, and continuous provision of goods and/or services by a qualifying organization and does not include the mere presence of an agent or office of the qualifying organization in the United States and abroad. </p>
              <h6>Employee Qualification: </h6>
              <ul>
                  <li>Generally have been working for a qualifying organization abroad for one continuous year within the three years immediately preceding his or her admission to the United States; and</li>
                  <li>Be seeking to enter the United States to provide service in an executive or managerial capacity, or provide services in a specialized knowledge capacity, for a branch of the same employer or one of its qualifying organizations.</li>
              </ul>
              <p><strong>Specialized knowledge</strong> means either special knowledge possessed by an individual of the petitioning organization’s product, service, research, equipment, techniques, management, or other interests and its application in international markets, or an advanced level of knowledge or expertise in the organization’s processes and procedures </p>
              <h6>New Offices </h6>
              <p>For foreign employers seeking to send an employee to the United States as an executive or manager to establish a new office, the employer must also show that: </p>
              <ul>
                  <li>The employer has secured sufficient physical premises to house the new office;</li>
                  <li>The employee has been employed as an executive or manager for one continuous year in the three years preceding the filing of the petition; and</li>
                  <li>The intended U.S. office will support an executive or managerial position within one year of the approval of the petition.</li>
              </ul>
              <p>Our Firm has an extensive experience in representing clients on L-1A/B initial filing and extension, including new office L-1. Our clients cover a variety of industries including sales and trade, IT, healthcare, food, manufacturing, transportation, etc. We are also skilled at responding complex Request for Evidences from USCIS, and we can utilize our business knowledge to advise clients on corporate structuring and L-1 compliance matters.  </p>
          </div>
        </div>
      </main>
      {% include sidebarImmigration.html %}
    </div>
  </div>
</div>
{% include footer.html %}
