---
layout: default
title: Sun & Ren PLLC
---
{% include navigation2.html %}
<div class="breadcrumbs-wrap style-2">
  <div class="container">
    <h1 class="page-title">EB-1</h1>
  </div>
</div>
<div id="content" class="page-content-wrap2">
  <div class="container">
    <div class="row">
      <main id="main" class="col-md-8 col-sm-12">
        <div class="content-element2">
          <div class="content-element3">
          </div>
          <div class="contentWrapper">
              <h5 class="sub-title">EB-1A (Extraordinary Ability)</h5>
              <p>This visa category applies to aliens who have extraordinary ability in the areas of science, arts, education, business or athletics, which has been demonstrated by substantiated national or international acclaim, and whose achievements have been recognized in the field through extensive documentation. This alien must continue work in the area of extraordinary ability and his or her entry into the United States must be shown to substantially and prospectively benefit the U.S. Applicants can file EB-1A petitions on their own behalf and do not need a sponsor from the employer.</p>
              <p>EB-1A petition may be accompanied by evidence of a major, internationally recognized one-time achievement (e.g. Nobel prize), or the applicant must meet 3 out of the 10 listed criteria:</p>
              <ul>
                  <li>Evidence of receipt of lesser nationally or internationally recognized prizes or awards for excellence</li>
                  <li>Evidence of your membership in associations in the field which demand outstanding achievement of their members</li>
                  <li>Evidence of published material about you in professional or major trade publications or other major media</li>
                  <li>Evidence that you have been asked to judge the work of others, either individually or on a panel</li>
                  <li>Evidence of your original scientific, scholarly, artistic, athletic, or business-related contributions of major significance to the field</li>
                  <li>Evidence of your authorship of scholarly articles in professional or major trade publications or other major media</li>
                  <li>Evidence that your work has been displayed at artistic exhibitions or showcases</li>
                  <li>Evidence of your performance of a leading or critical role in distinguished organizations</li>
                  <li>Evidence that you command a high salary or other significantly high remuneration in relation to others in the field</li>
                  <li>Evidence of your commercial successes in the performing arts</li>
              </ul>
              <p>Additionally, USCIS analyzes EB1A petition under the two-prong test in Kazarian v. USCIS, 596 F.3d 1115 (9th Cir. 2010). This test determines EB1A eligibility based on a two-step analysis:</p>
              <p>First, as a threshold matter, an individual must at least meet the regulatory requirements of either a one-time achievement or at least three criteria (options 1 or 2 above) Second, final merits determination must be performed based on all the evidence to show that the individual has demonstrated that he or she has sustained national or international acclaim and that his or her achievements have been recognized in the field of expertise, indicating that he or she is one of that small percentage who has risen to the very top of the field of endeavor.</p>

              <h5 class="sub-title">EB-1B (Outstanding Researcher/Professor)</h5>
              <p>This visa category applies to aliens who are internationally recognized as outstanding in a particular scientific or scholarly field. In addition to requiring an applicant to demonstrate his or her outstanding ability in the field, the applicant is also required to possess at least 3 years’ work experience and a permanent job offer from the employer. The employer is the stated petitioner during this application process.</p>
              <p>In addition to the job offer, the employee must meet at least two of the following:</p>
              <ul>
                  <li>Evidence of receipt of major prizes or awards for outstanding achievement</li>
                  <li>Evidence of membership in associations that require their members to demonstrate outstanding achievement</li>
                  <li>Evidence of published material in professional publications written by others about the alien's work in the academic field</li>
                  <li>Evidence of participation, either on a panel or individually, as a judge of the work of others in the same or allied academic field</li>
                  <li>Evidence of original scientific or scholarly research contributions in the field</li>
                  <li>Evidence of authorship of scholarly books or articles (in scholarly journals with international circulation) in the field</li>
              </ul>
              <p>Similar to EB1A, USCIS analyzes EB1B under the Kazarian two-step analysis. This test requires: (1) meeting the regulatory requirements of at least two criteria (listed above) and (2) showing that the evidence as a whole supports EB1B approval.</p>

              <h5 class="sub-title">EB-1C (Intracompany Transfers of Managers & Executives) </h5>
              <p>EB-1C is an employment-based priority worker category for multinational manager or executive. The employee must have been employed outside the United States for at least 1 year by a foreign company in the 3 years preceding the EB1C petition and seeking to enter the United States to continue to render services to a U.S. affiliate employer in a managerial or executive capacity. </p>

              <p><strong>What is Managerial or Executive Capacity? </strong></p>
              <p>Managerial capacity means an assignment within an organization in which the employee primarily– </p>
              <ul>
                  <li>Manages the organization, or a department, subdivision, function, or component of the organization;</li>
                  <li>Supervises and controls the work of other supervisory, professional, or managerial employees, or manages an essential function within the organization, or a department or subdivision of the organization;</li>
                  <li>If another employee or other employees are directly supervised, has the authority to hire and fire or recommend those as well as other personnel actions (such as promotion and leave authorization), or if no other employee is directly supervised, functions at a senior level within the organizational hierarchy or with respect to the function managed; and</li>
                  <li>Exercises discretion over the day-to-day operations of the activity or function for which the employee has authority. A first-line supervisor is not considered to be acting in a managerial capacity merely by virtue of the supervisor’s supervisory duties unless the employees supervised are professional.</li>
              </ul>
              <p>Executive capacity means an assignment within an organization In which the employee primarily– </p>
              <ul>
                  <li>Directs the management of the organization or a major component or function of the organization;</li>
                  <li>Establishes the goals and policies of the organization, component, or function;</li>
                  <li>Exercises wide latitude in discretionary decision-making; and</li>
                  <li>Receives only general supervision or direction from higher level executives, the board of directors, or stockholders of the organization.</li>
              </ul>
          </div>
        </div>
      </main>
      {% include sidebarImmigration.html %}
    </div>
  </div>
</div>
{% include footer.html %}
