

<footer id="footer" class="footer style-2">

  <div class="container extra">

    <div class="main-footer">

      <div class="row flex-row">

        <div class="col-sm-3">

          <div class="widget">

            <h6 class="widget-title">Quick Links</h6>

            <ul class="info-links v-type">
              <li><a href={{"/" | absolute_url}}>主页</a></li>
              <li><a href={{"/practice1.html" | absolute_url}}>业务领域</a></li>
              <li><a href={{"/about.html" | absolute_url}}>关于我们</a></li>
              <li><a href={{"/attorneys.html" | absolute_url}}>专业团队</a></li>
              <li><a href={{"/contact.html" | absolute_url}}>联系我们</a> </li>
            </ul>

          </div>

        </div>
        <div class="col-sm-5">

          <div class="widget">

            <h6 class="widget-title">New York Office</h6>

            <p>
              14 Penn Plaza, Suite 1517, New York, NY 10122<br>
              <span>Phone:</span> +1 631-888-3636 <br>
              <span>Opening Hours:</span>  Mon-Fri 9:30- 18：30
            </p>

<!--            <a href="#" class="info-btn">Get Directions</a>-->

          </div>

        </div>

      </div>

    </div>

    <div class="copyright">
      <div class="flex-row flex-center flex-justify">

        <p>Copyright WenjieSun&Associate PC © 2019. All Rights Reserved.</p>
        <ul class="social-icons style-2">

          <li><a href="#"><i class="icon-facebook"></i></a></li>
          <li><a href="#"><i class="icon-twitter"></i></a></li>
          <li><a href="#"><i class="icon-gplus-3"></i></a></li>
          <li><a href="#"><i class="icon-linkedin-3"></i></a></li>

        </ul>

      </div>
    </div>

  </div>

</footer>