

<footer id="footer" class="footer style-2">

  <div class="container extra">

    <div class="main-footer">

      <div class="row flex-row">

        <div class="col-sm-3">

          <div class="widget">

            <h6 class="widget-title">Quick Links</h6>

            <ul class="info-links v-type">
              <li><a href={{"/" | absolute_url}}>Home</a></li>
              <li><a href={{"/Immigration/" | absolute_url}}>About us</a></li>
              <li><a href={{"/about.html" | absolute_url}}>Services</a></li>
              <li><a href={{"/attorneys.html" | absolute_url}}>Professionals</a></li>
              <li><a href={{"/news.html" | absolute_url}}>News</a></li>
              <li><a href={{"/contact.html" | absolute_url}}>Contact</a> </li>
            </ul>

          </div>

        </div>
        <div class="col-sm-4">

          <div class="widget">

            <h6 class="widget-title">New York Office</h6>

            <p>
              14 Penn Plaza, Suite 1517, New York, NY 10122
              <br/>
              <span>Phone:</span>  +1 (631)-888-3636 <br>
              <span>Opening Hours:</span> Mon - Fri  9:30 – 18:30
            </p>
            <img src="/images/QR.jpg" alt="">

<!--            <a href="#" class="info-btn">Get Directions</a>-->

          </div>

        </div>
        <div class="col-sm-5">

          <div class="widget">

            <h6 class="widget-title">New York Office</h6>

            <div class="mapouter">
              <div class="gmap_canvas">
                <iframe width="100%" height="300" id="gmap_canvas"
                        src="https://maps.google.com/maps?q=14%20Penn%20Plaza%2C%20Suite%201517%2C%20New%20York%2C%20NY%2010122&t=&z=13&ie=UTF8&iwloc=&output=embed"
                        frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
            </div>

          </div>

        </div>

      </div>

    </div>

    <div class="copyright">
      <div class="flex-row flex-center flex-justify">

        <p>Copyright Sun & Ren PLLC© 2019. All Rights Reserved.</p>
        <ul class="social-icons style-2">

          <li><a href="#"><i class="icon-facebook"></i></a></li>
          <li><a href="#"><i class="icon-twitter"></i></a></li>
          <li><a href="#"><i class="icon-gplus-3"></i></a></li>
          <li><a href="#"><i class="icon-linkedin-3"></i></a></li>

        </ul>

      </div>
    </div>

  </div>

</footer>