<aside id="sidebar" class="sidebar col-md-4 col-sm-12">

  <!-- Widget -->
  <div class="widget with-bg">

    <h5 class="widget-title">业务领域</h5>

    <ul class="toggle-list">

      <li>
        <a href="javascript:void(0)" class="toggle-btn toggle">Immigration</a>
        <ul class="toggle-item">
          <li><a href={{"/Immigration/#sec1" | absolute_url}}>H-1B Specialty Occupations, DOD Cooperative Research and Development Project Workers, and Fashion Models</a></li>
          <li><a href={{"/Immigration/#sec2" | absolute_url}}>L-1  Intracompany Transferee Executive or Manager, Intracompany Transferee Specialized Knowledge</a></li>
          <li><a href={{"/Immigration/#sec3" | absolute_url}}>O-1 Visa: Individuals with Extraordinary Ability or Achievement</a></li>
          <li><a href={{"/Immigration/#sec4" | absolute_url}}>“PERM” 劳工证</a></li>
          <li><a href={{"/Immigration/#sec5" | absolute_url}}>EB5 投资移民 EB-5 Immigrant Investor Program</a></li>
          <li><a href={{"/Immigration/#sec6" | absolute_url}}>Employment-Based Immigration: First Preference EB-1</a></li>
          <li><a href={{"/Immigration/#sec7" | absolute_url}}>Employment-Based Immigration: Second Preference EB-2</a></li>
          <li><a href={{"/Immigration/#sec8" | absolute_url}}>Employment-Based Immigration: Third Preference EB-3</a></li>
          <li><a href={{"/Immigration/#sec9" | absolute_url}}>TN NAFTA Professionals</a></li>
          <li><a href={{"/Immigration/#sec10" | absolute_url}}>E-1 Treaty Traders and E-2 Treaty Investors</a></li>
          <li><a href={{"/Immigration/#sec11" | absolute_url}}>NIW - 国家利益豁免</a></li>
        </ul>
      </li>
      <li>
<!--        <a href="javascript:void(0)" class="toggle-btn toggle">房地产</a>-->
<!--        <ul class="toggle-item">-->
          <a href={{"/NonImmigration/1/" | absolute_url}}>房地产</a>
<!--          <li><a href={{"/NonImmigration/1/#sec2" | absolute_url}}>协助客户过户</a></li>-->
<!--        </ul>-->
      </li>
      <li>
          <a href={{"/practice3.html" | absolute_url}}>商业服务</a>
<!--        <a href="javascript:void(0)" class="toggle-btn toggle">商业服务</a>-->
<!--        <ul class="toggle-item">-->
<!--          <li><a href={{"/practice3.html#sec1" | absolute_url}}>注册公司</a></li>-->
<!--          <li><a href={{"/practice3.html#sec2" | absolute_url}}>起草公司成立文件</a></li>-->
<!--          <li><a href={{"/practice3.html#sec3" | absolute_url}}>股东协议</a></li>-->
<!--        </ul>-->
      </li>
    </ul>

  </div>

  <!-- Widget -->
  <div class="widget with-bg2">

    <h5 class="widget-title">Contact Us Today</h5>
    <p class="text-size-small">Get your free case review within 24 hours.
      All Fields Required.</p>

    <form id="contact-form" class="contact-form">

      <div class="flex-row">

        <div class="col-sm-12">

          <input type="text" name="cf-name" placeholder="Name *" required>

        </div>
        <div class="col-sm-12">

          <input type="tel" name="cf-phone" placeholder="Phone *" required>

        </div>
        <div class="col-sm-12">

          <input type="email" name="cf-email" placeholder="Email *" required>

        </div>
        <div class="col-sm-12">

          <textarea rows="3" name="cf-message" placeholder="Message *" required></textarea>

        </div>

        <div class="col-sm-12">

          <button type="submit" class="btn btn-style-2" data-type="submit">Submit</button>

        </div>

      </div>

    </form>

  </div>

</aside>