<aside id="sidebar" class="sidebar col-md-4 col-sm-12">
  <div class="widget with-bg"><h5 class="widget-title">Immigration</h5><ul class=""><li>
<!--        <a href="javascript:void(0)" class="toggle-btn toggle">Immigration</a>-->
        <ul class="">
          <li><h6>Non-immigrant Benefits Categories</h6></li>
          <li><a class="{% if page.url == '/Immigration/1/' %}current{% endif %}" href={{"/Immigration/1/" | absolute_url}}>E-1 Treaty Traders and E-2 Treaty Investors</a></li>
          <li><a class="{% if page.url == '/Immigration/2/' %}current{% endif %}" href={{"/Immigration/2/" | absolute_url}}>H-1B</a></li>
          <li><a class="{% if page.url == '/Immigration/3/' %}current{% endif %}" href={{"/Immigration/3/" | absolute_url}}>L -1</a></li>
          <li><a class="{% if page.url == '/Immigration/4/' %}current{% endif %}" href={{"/Immigration/4/" | absolute_url}}>O-1</a></li>
          <li><a class="{% if page.url == '/Immigration/5/' %}current{% endif %}" href={{"/Immigration/5/" | absolute_url}}>TN NAFTA Professionals</a></li>
          <li><h6>Employment-based immigration Categories</h6></li>
          <li><a class="{% if page.url == '/Immigration/6/' %}current{% endif %}" href={{"/Immigration/6/" | absolute_url}}>Employment-Based Immigration: First Preference EB-1 A/B/C</a></li>
          <li><a class="{% if page.url == '/Immigration/7/' %}current{% endif %}" href={{"/Immigration/7/" | absolute_url}}>Employment-Based Immigration: Second Preference EB-2(National Interest Waiver)</a></li>
          <li><a class="{% if page.url == '/Immigration/8/' %}current{% endif %}" href={{"/Immigration/8/" | absolute_url}}>Employment-Based Immigration: Third Preference EB-2/EB-3 </a></li>
          <li><a class="{% if page.url == '/Immigration/9/' %}current{% endif %}" href={{"/Immigration/9/" | absolute_url}}>EB-5 Immigrant Investor Program</a></li>
        </ul>
      </li>
    </ul></div>
</aside>