---
layout: default
title: Sun & Ren PLLC
---
{% include navigation2.html %}
<div class="breadcrumbs-wrap style-2">
  <div class="container">
    <h1 class="page-title">H-1B</h1>
  </div>
</div>
<div id="content" class="page-content-wrap2">
  <div class="container">
    <div class="row">
      <main id="main" class="col-md-8 col-sm-12">
        <div class="content-element2">
          <div class="content-element3">
<!--            <img src={{"/images/immigration.jpg" | absolute_url}} alt="">-->
          </div>
          <div class="contentWrapper">
<!--            <h5 class="sub-title"><b>E-2: E-1 (Treaty Trader) & E-2 (Treaty Investor)</b></h5>-->
            <p>This visa is a non-immigrant visa designed to allow U.S. employers to employ foreign professionals in specialty occupations in the United States for a period of time. The H-1B program provides the opportunity for foreign workers in specialty occupations to legally live and work in the United States for a total of 6 consecutive years and entitles their spouse and children to accompany them and live in the United States on H-4 visas. In limited circumstances, H-1B status may be extended beyond the 6-year limit. An employer must file an H-1B petition for an employee beneficiary. </p>
            <p>To qualify as a specialty occupation, the position must meet one of the following requirements: </p>
            <ul>
              <li>A bachelor’s or higher degree or its equivalent is normally the minimum entry requirement for the position;</li>
              <li>The degree requirement is common to the industry in parallel positions among similar organizations or, in the alternative, the position is so complex or unique that it can be performed only by an individual with a degree;</li>
              <li>The employer normally requires a degree or its equivalent for the position; or</li>
              <li>The nature of the specific duties is so specialized and complex that the knowledge required to perform the duties is usually associated with attainment of a bachelor’s or higher degree.</li>
            </ul>
            <p>Our Firm has represented over hundreds of clients working in all ranges of industries, including startups, IT consulting firms, professional firms, fashion companies, financial companies, logistics companies, entertainment companies, real estate investment firms, government agencies, wholesale and retail trading companies, as well as educational institutes. We fully understand the academic background and technical skills required for a particular sponsoring company, and we have the expertise to find a best fit H-1B occupation for each candidate. We are also experienced in responding complex Request for Evidence from the USCIS and can properly advise clients on the best way to prepare evidence.  </p>
          </div>
        </div>
      </main>
      {% include sidebarImmigration.html %}
    </div>
  </div>
</div>
{% include footer.html %}
