---
layout: default
title: Sun & Ren PLLC
---
{% include navigation2.html %}
<div class="breadcrumbs-wrap style-2">
  <div class="container">
    <h1 class="page-title">Real Estate</h1>
  </div>
</div>
<div id="content" class="page-content-wrap2">
  <div class="container">
    <div class="row">
      <main id="main" class="col-md-8 col-sm-12">
        <div class="content-element2">
          <div class="content-element3">
            <img src={{"/images/realestate.jpg" | absolute_url}} alt="">
          </div>
          <div class="contentWrapper">
            <h5 class="sub-title"><b>Real Estate</b></h5>
            <p>
              New York City has one of the most booming and vibrant real estate markets in the world. For
              the local and international investors, it’s crucial to have the professional legal support
              in their real estate transactions and related matters. SunRen Law
              provides full-service legal representation for buyers, sellers, landlords, and tenants in
              New York City. Our real estate team provides high-quality legal protection in each procedure
              in real estate matters. Our real estate practice areas include, but are not limited to:
            <ul>
            <li>Residential real estate transactions</li>
            <li>Commercial real estate transactions</li>
            <li>Section 1031 property exchanges</li>
            <li>Commercial and residential lease review and negotiation</li>
            <li>Landlord-tenant disputes</li>
          </ul>
            </p>
          </div>
        </div>
      </main>
      {% include sidebarNonImmigration.html %}
    </div>
  </div>
</div>
{% include footer.html %}