---
layout: default
title: Sun & Ren PLLC
---
{% include navigation2.html %}
<div class="breadcrumbs-wrap style-2">
  <div class="container">
    <h1 class="page-title">Immigration</h1>
  </div>
</div>
<div id="content" class="page-content-wrap2">
  <div class="container">
    <div class="row">
      <main id="main" class="col-md-8 col-sm-12">
        <div class="content-element2">
          <div class="content-element3">
            <img src={{"/images/immigration.jpg" | absolute_url}} alt="">
          </div>
          <div class="contentWrapper">
            <h5 class="sub-title"><b>Immigration</b></h5>
            <p>
              Among the firm's prestige services are advising young artists, startup employers and professionals equipped with exceptional ability in sciences, arts or business regarding immigration and non-immigration visa applications. At Sun & Ren Law, it is able to provide you with cutting-edge knowledge of immigration practice. 
            </p>
            <p>
              Our trust attorneys have a wide range of legal expertise, allowing us to help our clients with a variety of complicated cases. Together the founding partners have successfully represented thousands of companies and individuals in seeking immigration benefits in the United States. Our diverse client base includes domestic and multinational corporations, start-ups, high-net-worth individuals, and extraordinary professionals in fields such as sciences, arts, education, and sports.
            </p>
          </div>
        </div>
      </main>
      {% include sidebarImmigration.html %}
    </div>
  </div>
</div>
{% include footer.html %}