---
layout: default
title: Sun & Ren PLLC
---
{% include navigation2.html %}
<div class="breadcrumbs-wrap style-2">
  <div class="container">
    <h1 class="page-title">EB-5 (Immigrant Investor) </h1>
  </div>
</div>
<div id="content" class="page-content-wrap2">
  <div class="container">
    <div class="row">
      <main id="main" class="col-md-8 col-sm-12">
        <div class="content-element2">
          <div class="content-element3">
          </div>
          <div class="contentWrapper">
              <p>Congress established the EB-5 Program in 1990 to bring new investment capital into the U.S. and to create new jobs for U.S. workers. The EB-5 Program is based on three main elements: (1) the immigrant’s investment of capital, (2) in a new commercial enterprise, (3) that creates jobs. </p>
              <h5 class="sub-title">1. Capital Investment Requirements</h5>
              <p>The minimum investment amount required is $1 million, with the caveat that if the investment is made in a rural or high unemployment area, the minimum amount required is reduced to $500,000. Effective November 21, 2019, the minimum amount will increase to $1.8 million, and investment made in a rural or high unemployment area will increase to $900.000. Future adjustments will also be tied to inflation (per the Consumer Price Index for All Urban Consumers, or CPI-U) and occur every 5 years. </p> 
              <p>Capital means cash, equipment, inventory, other tangible property, cash equivalents and indebtedness secured by assets owned by the alien entrepreneur, provided that the alien entrepreneur is personally and primarily liable and that the assets of the new commercial enterprise upon which the petition is based are not used to secure any of the indebtedness.. </p>
              <h5 class="sub-title">2. New Commercial Enterprise Requirements </h5>
              <p>All EB-5 investors must invest in a new commercial enterprise. A new commercial enterprise is defined as a commercial enterprise: </p>
              <ul>
                  <li>Established after Nov. 29, 1990, or</li>
                  <li>Established on or before Nov. 29, 1990, that is:</li>
                  <ul>
                      <li>Purchased and the existing business is restructured or reorganized in such a way that a new commercial enterprise results, or</li>
                      <li>Expanded through the investment so that a 40-percent increase in the net worth or number of employees occurs</li>
                  </ul>
              </ul>
              <p>Commercial enterprise means any for-profit activity formed for the ongoing conduct of lawful business including, but not limited to: </p>
              <ul>
                  <li>A sole proprietorship</li>
                  <li>Partnership (whether limited or general)</li>
                  <li>Holding company</li>
                  <li>Joint venture</li>
                  <li>Corporation</li>
                  <li>Business trust or other entity, which may be publicly or privately owned</li>
              </ul>
              <h5 class="sub-title">3. Job Creation Requirements </h5>
              <p>Investment must create or preserve at least 10 full-time jobs for qualifying U.S. workers within two years (or under certain circumstances, within a reasonable time after the two-year period) of the immigrant investor’s admission to the United States as a Conditional Permanent Resident. </p>
              <p>Alternatively, investment must create or preserve either direct or indirect jobs: </p>
              <ul>
                  <li>Direct jobs are actual identifiable jobs for qualified employees located within the commercial enterprise into which the EB-5 investor has directly invested his or her capital.</li>
                  <li>Indirect jobs are those jobs shown to have been created collaterally or as a result of capital invested in a commercial enterprise affiliated with a regional center by an EB-5 investor. A foreign investor may only use the indirect job calculation if affiliated with a regional center.</li>
              </ul>
          </div>
        </div>
      </main>
      {% include sidebarImmigration.html %}
    </div>
  </div>
</div>
{% include footer.html %}
