---
layout: default
title: Sun & Ren PLLC
---
{% include navigation2.html %}
<!--<div class="breadcrumbs-wrap style-3 align-center" data-bg="/images/1920x225_bg1.jpg">-->
<!--  <div class="container">-->
<!--    <h1 class="page-title">专业团队</h1>-->
<!--    <ul class="breadcrumbs">-->
<!--      <li><a href={{"/" | absolute_url}}>首页</a></li>-->
<!--      <li>专业团队</li>-->
<!--    </ul>-->
<!--  </div>-->
<!--</div>-->
<div id="content">
  <div class="row">
    <div class="page-section">
      <div class="container">
        <div class="content-element2">
          <div class="content-element5">
            <div class="row">
              <div class="col-xs-5">
                <img src="/images/458x504_photo1.jpg" alt="">
                <p><br></p>
                <div class="content-element5">
                  <h5 class="sub-title">Wenjie SUN</h5>
                  <p><a href="tel:0016318883636">Phone: +1 (631) 888 3636</a></p>
                  <p><a href="mailTo:wenjie@sunrenlaw.com">Email: wenjie@sunrenlaw.com</a></p>
                </div>
              </div>
              <div class="col-xs-7">
                <div class="content-element3">
                  <div class="our-info style-2">
                    <p>Ms. Wenjie Sun is the co-founder and partner of [Sun & Ren, PLLC], focusing primarily on business immigration. She is widely recognized in the artist community for her superior track record in successfully representing artists and musicians with their O-1 visa and EB-1A (Alien of Extraordinary Ability) immigration petitions.</p>
                    <p>Ms. Sun also has extensive experience in employment-based immigration matters. She has successfully handled hundreds of H-1B, L-1 and PERM applications by developing individually tailored strategies on a case-by-case basis, helping her clients win a number of challenging cases.</p>
                    <p>Related to EB-5, Ms. Sun has conducted due diligence on Regional Centers and worked with security attorneys on various offering documentation, including I-526 and I-829 filings for investors from Mainland China, Hong Kong, Taiwan and Vietnam.</p>
                    <p>For three consecutive years (2016 – 2018), Ms. Sun was named a Rising Star in the New York metropolitan area by Super Lawyers Magazine.</p>
                    <p>
                      <br>
                    </p>

                    <div class="content-element5">
                      <h5 class="sub-title">Education</h5>
                      <ul class="minus-list">
                        <li>College of William and Mary, LLM, 2012</li>
                        <li>East China University of Political Science and Law, LLB, 2011</li>
                      </ul>
                    </div>
                    <div class="content-element5">
                      <div class="row">
                        <div class="col-sm-5">
                          <h5 class="sub-title">Bar Admission</h5>
                          <ul class="minus-list">
                            <li>New York Bar</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="content-element5">
                      <h5 class="sub-title">Awards & Honors</h5>
                      <ul class="minus-list">
                        <li>New York Metro Rising Stars 2016 - 2018</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/js/libs/jquery.modernizr.js"></script>
<script src="/js/libs/jquery-2.2.4.min.js"></script>
<script src="/js/libs/jquery-ui.min.js"></script>
<script src="/js/libs/retina.min.js"></script>
<script src="/plugins/isotope.pkgd.min.js"></script>
<script src="/plugins/jquery.queryloader2.min.js"></script>
<script src="/js/plugins.js"></script>
<script src="/js/script.js"></script>
{% include footer.html %}