---
layout: default
title: Sun & Ren PLLC
---
{% include navigation2.html %}
<div class="breadcrumbs-wrap style-2">
    <div class="container">
        <h1 class="page-title">General Corporate</h1>
    </div>
</div>
<div id="content" class="page-content-wrap2">
    <div class="container">
        <div class="row">
            <main id="main" class="col-md-8 col-sm-12">
                <div class="content-element2">
                    <div class="content-element3">
                        <img src={{"/images/business.jpg" | absolute_url}} alt="">
                    </div>
                    <div class="contentWrapper">
                        <h5 class="sub-title"><b>General Corporate</b></h5>
                        <p>
                            The firm provides service to companies at various stages of their development. We help clients in forming proper corporate entities and drafting corporate formation documents. Drafting, reviewing and negotiating all aspects of corporate finance agreement, including term sheet, amended certificate of corporation, stock purchase agreement, investor suitability questionnaire, investors’ rights agreement, shareholders and board directors written consent form. We also perform due diligence to guide mergers and acquisitions.
                        </p>
                    </div>
                </div>
            </main>
            {% include sidebarNonImmigration.html %}
        </div>
    </div>
</div>
{% include footer.html %}