<!doctype html>
<html lang="en">
<head>
<!-- Google Web Fonts
================================================== -->

<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i%7CFrank+Ruhl+Libre:300,400,500,700,900" rel="stylesheet">

<!-- Basic Page Needs
================================================== -->

<title>{{ page.title }}</title>

<!--meta info-->
<meta charset="utf-8">
<meta name="author" content="">
<meta name="keywords" content="">
<meta name="description" content="">

<!-- Mobile Specific Metas
================================================== -->
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<!-- Vendor CSS
============================================ -->

<link rel="stylesheet" href={{"/font/demo-files/demo.css" | absolute_url }}>
<link rel="stylesheet" href={{"/plugins/fancybox/jquery.fancybox.css" | absolute_url }}>
<link rel="stylesheet" href={{"/plugins/revolution/css/settings.css" | absolute_url }}>
<link rel="stylesheet" href={{"/plugins/revolution/css/layers.css" | absolute_url }}>
<link rel="stylesheet" href={{"/plugins/revolution/css/navigation.css" | absolute_url }}>

<!-- CSS theme files
============================================ -->
<link rel="stylesheet" href={{"/css/bootstrap.min.css" | absolute_url }}>
<link rel="stylesheet" href={{"/css/fontello.css" | absolute_url }}>
<link rel="stylesheet" href={{"/css/owl.carousel.css" | absolute_url }}>
<link rel="stylesheet" href={{"/css/style.css" | absolute_url }}>
<link rel="stylesheet" href={{"/css/responsive.css" | absolute_url }}>
<link rel="stylesheet" href={{"/css/custom.css" | absolute_url }}>

</head>

<body>

<div class="loader"></div>

{{ content }}

<!-- JS Libs & Plugins
============================================ -->
<script src={{"/js/libs/jquery.modernizr.js" | absolute_url }}></script>
<script src={{"/js/libs/jquery-2.2.4.min.js" | absolute_url }}></script>
<script src={{"/js/libs/jquery-ui.min.js" | absolute_url }}></script>
<script src={{"/js/libs/retina.min.js" | absolute_url }}></script>
<script src="https://maps.googleapis.com/maps/api/js?libraries=places&amp;key=AIzaSyBN4XjYeIQbUspEkxCV2dhVPSoScBkIoic"></script>
<script src={{"/plugins/fancybox/jquery.fancybox.js" | absolute_url }}></script>
<script src={{"/plugins/revolution/js/jquery.themepunch.tools.min.js?ver=5.0" | absolute_url }}></script>
<script src={{"/plugins/revolution/js/jquery.themepunch.revolution.min.js?ver=5.0" | absolute_url }}></script>
<script src={{"/plugins/jquery.queryloader2.min.js" | absolute_url }}></script>
<script src={{"/plugins/owl.carousel.min.js" | absolute_url }}></script>

<!-- JS theme files
============================================ -->
<script src={{"/js/plugins.js" | absolute_url }}></script>
<script src={{"/js/script.js" | absolute_url }}></script>

</body>
</html>