---
layout: default
title: Sun & Ren PLLC
---
{% include navigation2.html %}
<div class="breadcrumbs-wrap style-2">
  <div class="container">
    <h1 class="page-title">O-1</h1>
  </div>
</div>
<div id="content" class="page-content-wrap2">
  <div class="container">
    <div class="row">
      <main id="main" class="col-md-8 col-sm-12">
        <div class="content-element2">
          <div class="content-element3">
          </div>
          <div class="contentWrapper">
              <p>The O-1 nonimmigrant visa is for the individual who possesses extraordinary ability in the sciences, arts, education, business, or athletics, or who has a demonstrated record of extraordinary achievement in the motion picture or television industry and has been recognized nationally or internationally for those achievements. O-1 petitions may only be filed by a U.S. employer, a U.S. agent or a foreign employer through a U.S. agent on behalf of the beneficiary. O-1 visas will be granted for the length of time necessary for a particular event, up to a maximum of 3 years, with unlimited extensions in 1-year increments. </p>
              <p>The O-1 nonimmigrant classification is commonly referred to as: </p>
              <ul>
                  <li>O-1A: individuals with an extraordinary ability in the sciences, education, business, or athletics (not including the arts, motion pictures or television industry)</li>
                  <li>O-1B: individuals with an extraordinary ability in the arts or extraordinary achievement in motion picture or television industry</li>
              </ul>
              <p>In order to qualify for O-1A, the applicant must provide evidence of having received a major internationally recognized award, such as the Nobel Prize, or three or more of the following: </p>
              <ul>
                  <li>Receipt of lesser nationally or internationally recognized prizes or awards for excellence in the field in which extraordinary ability is claimed. </li>
                  <li>Membership in associations in the field of extraordinary ability which require outstanding achievements of their members, as judged by recognized experts in the field. </li>
                  <li>Evidence of authorship of scholarly articles in the field, in professional journals, or other major media. </li>
                  <li>Published material in professional or major trade publications or major media about the applicant's work. </li>
                  <li>Evidence of participation on a panel, or individually, serving as the judge of the work of others in the field of extraordinary ability. </li>
                  <li>Evidence in the form of numerous letters from prominent colleagues who can confirm the applicant's original scientific or scholarly contributions of major significance to the field. The case is strengthened by letters from outside of the employment and academic circle of the applicant. Recommendations from experts in other countries are particularly desirable. </li>
                  <li>Evidence of employment in a critical or essential capacity for organizations and establishments that have a distinguished reputation. </li>
                  <li>Evidence that the applicant commands a high salary or other compensation for his or her services.</li>
              </ul>
              <p>In order to qualify for O-1B visa, the applicant can prove distinction by being the nominee or recipient of an important national or international prize such as an Academy Award or Emmy Award, or by submitting documentation of at least three of the following:</p>
              <ul>
                  <li>Performed and will perform services as a lead or starring participant in productions or events which have a distinguished reputation as evidenced by critical reviews, advertisements, publicity releases, publications, contracts or endorsements</li>
                  <li>Achieved national or international recognition for achievements, as shown by critical reviews or other published materials by or about the beneficiary in major newspapers, trade journals, magazines, or other publications</li>
                  <li>Performed and will perform in a lead, starring, or critical role for organizations and establishments that have a distinguished reputation as evidenced by articles in newspapers, trade journals, publications, or testimonials.</li>
                  <li>A record of major commercial or critically acclaimed successes, as shown by such indicators as title, rating or standing in the field, box office receipts, motion picture or television ratings and other occupational achievements reported in trade journals, major newspapers or other publications</li>
                  <li>Received significant recognition for achievements from organizations, critics, government agencies or other recognized experts in the field in which the beneficiary is engaged, with the testimonials clearly indicating the author's authority, expertise and knowledge of the beneficiary's achievements</li>
                  <li>A high salary or other substantial remuneration for services in relation to others in the field, as shown by contracts or other reliable evidence</li>
              </ul>
              <p>If the above standards do not readily apply to the beneficiary’s occupation in the arts, the petitioner may submit comparable evidence in order to establish eligibility (this exception does not apply to the motion picture or television industry). </p>
              <p>O-2 visas can be obtained for those accompanying the O-1 visa holder who will assist the O-1 alien in their performance in the field of extraordinary ability. An O-2 visa applicant must be an integral part of the actual performance, possess critical skills and experience that cannot be performed by others, and, in the field of television and motion pictures, include a long-standing working relationship with the O-1 visa holder.  </p>
          </div>
        </div>
      </main>
      {% include sidebarImmigration.html %}
    </div>
  </div>
</div>
{% include footer.html %}
