---
layout: default
title: Sun & Ren PLLC
---
{% include navigation2.html %}
<div class="breadcrumbs-wrap style-2">
  <div class="container">
    <h1 class="page-title">EB-2(National Interest Waiver)</h1>
  </div>
</div>
<div id="content" class="page-content-wrap2">
  <div class="container">
    <div class="row">
      <main id="main" class="col-md-8 col-sm-12">
        <div class="content-element2">
          <div class="content-element3">
          </div>
          <div class="contentWrapper">
<!--              <h5 class="sub-title">EB-2(National Interest Waiver)</h5>-->
              <p>A National Interest Waiver (NIW) petition falls in the employment-based， second-preference (EB-2) immigration category. For most EB-2 applications, petitioners need a permanent job offer and an approved labor certification. However, an NIW requests these requirements be waived for the sake of the “national interest of the United States,” thus allowing an applicant to apply for this status without a labor certification or a job offer from a U.S. employer.</p>
              <p>In order to be eligible to file a National Interest Waiver (“NIW”) petition, a beneficiary or applicant must have an “advanced degree” or “exceptional ability” in the sciences, arts or business. The beneficiary or applicant must also persuasively demonstrate that:</p>
              <ul>
                  <li>The foreign national’s proposed endeavor has both substantial merit and national importance.</li>
                  <li>The foreign national is well positioned to advance the proposed endeavor.</li>
                  <li>On balance, it would be beneficial to the United States to waive the requirements of a job offer and thus of a labor certification.</li>
              </ul>
              <p>Aliens seeking a NIW may self-petition; in other words, they will not need a sponsor from the employer. Alternatively, a U.S. employer can file an NIW petition on behalf of an alien worker.</p>
          </div>
        </div>
      </main>
      {% include sidebarImmigration.html %}
    </div>
  </div>
</div>
{% include footer.html %}
